/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.c-header {
    .c-header__banner {
        background-image: url("/_public/assets/img/Background-header.png");
        width: 100%;
        height: 1052px;
        background-size: cover;
        object-fit: cover;
        object-position: center;
        position: relative;
        background-position-x: center;

        @include sp {
            width: 100%;
            margin: 0 auto;
            height: 445px;
        }
    }

    .c-bannerinner {
        background-color: rgba(255, 255, 255, 0.49);
        padding: 120px 30px 85px;
        max-width: 435px;
        width: 100%;
        height: 460px;
        position: absolute;
        left: 51.8%;
        top: 53.8%;
        transform: translate(-54%, -51.8%);

        @include sp {
            width: 217px;
            height: 230px;
            padding: 58px 0 10px;
            top: calc(50% + 4px);
        }


        .c-bannerinner__logo {
            margin: 0 auto;
            display: block;
            transform: translateY(-6px);

            @include sp {
                width: 52%;
                transform: translate(2px, 0);
            }
        }

        .c-bannerinner__text {
            font-size: 2rem;
            line-height: 2.4;
            text-align: center;
            display: block;
            padding: 30px 0;
            font-weight: 700;
            transform: translate(-3px, 8px);
            letter-spacing: -1.5px;
            font-family: $sub-font1;

            @include sp {
                font-size: 0.9rem;
                margin-top: -7px;
                transform: translate(0, 1px);
                letter-spacing: 0.3px;
                font-family: Kozuka Mincho pr6n, "Kozuka Mincho", sans-serif;
                padding-bottom: 0;
            }
        }

        .c-bannerinner__now {
            display: block;
            margin: 0 auto;
            transform: translate(4px, 7px);
            color: #000;

            @include sp {
                width: 74.4%;
                margin: -14px 0 0 8px;
                transform: translate(30px, 30px);
            }
        }
    }

}

// CASE
.c-case {
    background-image: url("/_public/assets/img/bg-grid.png");

    .c-listcase {
        display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        width: 100%;
        padding: 40px 37px 0 73px;


        @include tb {
            margin-top: -5px;
            flex-wrap: wrap;
            padding: 0;

        }

        @include sp {
            margin-top: 18px;
        }

    }

    .c-itemcase {
        margin-bottom: 30px;
        width: 474px;
        max-width: 38.1%;
        position: relative;
        margin-right: 3.7%;

        @include tb {
            max-width: 92.1%;
            margin: 0 auto 107px;
        }

        @include sp {
           

        }

        .c-des {
            font-size: 2.4rem;
            color: #fff;
            text-align: center;
            font-weight: 700;
            letter-spacing: -1.6px;
            position: absolute;
            top: 50%;
            // left: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
            display: block;
            padding: 0 4%;

            @include sp {
                font-size: 1.7rem;
                letter-spacing: -1px;
                width: 100%;
                text-align: center;
                display: block;
                padding: 0 7%;
                position: absolute;
                top: 49%;
            }
        }
    }

    .c-note {
        font-family: $sub-font1;
        font-weight: 400;
        background-color: #7a89a8;
        border-radius: 20px;
        width: 211px;
        max-width: 53%;
        height: 35px;
        font-size: 1.8rem;
        z-index: 1;
        text-align: center;
        color: #fff;
        position: absolute;
        right: -8px;
        top: -13px;
        line-height: 2;
        letter-spacing: -1.5px;
        padding: 0 2%;

        @include sp {
            font-size: 1.2rem;
            width: 148px;
            height: 24px;
            top: -8px;
            letter-spacing: 0.2px;
            right: -7px;
        }
    }

    .c-notesp {
        font-size: 1.2rem;
        width: 146px;
        height: 24px;
        font-weight: 300;
        top: -10%;
        left: -5px;
        position: absolute;
        background-color: #7a89a8;
        border-radius: 20px;
        text-align: center;
        color: #fff;
        font-family: $sub-font1;

        line-height: 2;
        letter-spacing: -0.5px;
    }

    .c-itemcase:nth-child(2) {
        // transform: translate(22px, -30px);
    }

    .c-itemcase:last-child {
        // transform: translate(27px, -31px);
        margin-right: 0;
        @include tb {
            margin: -2px auto;
        }

        @include sp {
            

        }

        .c-des {
            letter-spacing: -1.9px;
            // transform: translateX(-7px);
            @include sp {
                left: -2%;
                letter-spacing: -2.6px;
            }

            span {
                @include sp {
                    transform: translateX(2px);
                    display: inline-block;
                    letter-spacing: -2px;
                }
            }
        }
    }


    .c-case__title {
        font-size: 3.6rem;
        font-weight: 400;
        text-align: center;
        transform: translateX(16px);
        color: #000;

        @include sp {
            font-size: 1.5rem;
            margin-left: -1px;

            transform: translateY(-1px);
            letter-spacing: 0;
        }
    }

    .c-case__number {
        font-family: $sub-font3;
        font-weight: 700;
        line-height: 1;
        font-size: 21.4rem;
        color: #ededed;
        display: block;
        margin-left: 30px;

        @include sp {
            font-size: 14.8rem;
            margin-left: 26px;
            // transform: translateX(8px);
        }
    }

    .c-case__numbersp {
        font-family: $sub-font3;
        color: #ededed;
        font-size: 14.8rem;
        margin-top: 0;
        font-weight: 700;
        margin-left: 161px;
        line-height: 1;
    }

    .c-case__textsp {
        font-size: 1.7rem;
        top: 52%;
        right: 17.3%;
        letter-spacing: 3.9px;
        font-weight: 700;
        position: absolute;
        color: #c7c7c7;
        font-family: $sub-font3;

    }

    .c-case__text {
        font-family: $sub-font3;
        font-weight: 700;
        color: #c7c7c7;
        position: absolute;
        top: 32.6%;
        left: 24.7%;
        font-size: 2.4rem;
        letter-spacing: 6px;

        @include sp {
            font-size: 1.7rem;
            top: 52.6%;
            left: 25.5%;
            letter-spacing: 3.9px;
        }

    }

    .c-case__des {
        background-color: #000;
        width: 100%;
        border-radius: 10px;
        height: 126px;
        // padding: 45px 0;
        top: -5%;
        left: 10px;
        position: relative;

        @include sp {
            width: 99%;
            height: 87px;
            top: 93%;
            left: 9px;
            position: absolute;
        }

        &::after {
            position: absolute;
            border-color: transparent transparent #000;
            top: -29px;
            left: 136px;
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 20px 29px 4px;

            @include sp {
                border-width: 0 12px 19px 4px;
                top: -19px;
                left: 94px;
            }
        }


    }

    .c-case__dessp {
        background-color: #000;
        border-radius: 8px;
        position: absolute;
        left: 9px;
        top: 91.4%;

        width: 99%;
        height: 87px;

        &::after {

            position: absolute;
            border-color: transparent transparent #000;
            top: -29px;
            /* left: 223px; */
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 5px 41px 29px;
            right: 92px;

        }

    }

    .c-case__titlebottom {
        font-size: 3.4rem;
        font-weight: 400;
        color: #231815;
        letter-spacing: 0.1px;
        text-align: center;
        margin-top: 68px;
        transform: translate(14px, 4px);

        @include sp {
            font-size: 1.3rem;
            margin-top: 163px;
            transform: translateX(0);
            margin-left: -1px;
            letter-spacing: -0.3px;
            line-height: 1.3;
        }
    }
}



//HOUSE
.c-house {
    .c-house__title {
        text-transform: uppercase;
        font-family: $sub-font2;
        font-weight: 300;
        letter-spacing: 4.6px;
        color: #000;
        font-size: 4.8rem;
        text-align: center;
        transform: translate(20px, 20px);

        @include sp {
            font-size: 1.2rem;
            transform: translateY(-1px);
            margin: 8px auto 15px;
            letter-spacing: 1px;
        }
    }

    .c-house__list {
        @include sp {
            max-width: 375px;
            width: 100%;
            margin: 0 auto;
        }
    }

    .c-house__item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // justify-content: space-between;
        margin-top: 62px;

        @include sp {
            margin-bottom: 25px;
            padding: 0;
            margin-top: 0;
        }
    }

    .c-house__itemtwo {

        @include tb {
            flex-direction: column-reverse;
        }

        .c-houseitem__left {
            padding-right: 2%;
        }
    }

    .c-houseitem__left {
        width: 50%;

        @include tb {
            width: 83.3%;
            margin: 0 auto;
        }
    }



    .c-houseitem__title {
        position: relative;
        margin-left: 102px;
        transform: translate(4px, -38px);

        @include sp {
            margin: 4px 0 0 54px;
            transform: none;
        }
    }

    .c-houseitem__titleone {
        transform: translate(4px, -30px);

        @include sp {
            transform: none;
        }
    }

    .c-houseitem__titletwo {
        margin-top: -30px;
        margin-left: 55px;
        position: relative;

        @include sp {
            margin-top: 4px;
            margin-left: 48px;
        }
    }



    .c-houseitem__titletext {
        font-size: 2.8rem;
        color: #231815;
        font-weight: 700;
        display: inline-block;
        letter-spacing: 0.4px;
        transform: translateY(38px);
        position: relative;

        &::after {
            content: "";
            background-image: url(./assets/icon/icon-house.svg);
            position: absolute;
            top: -22px;
            right: -33px;
            display: block;
            width: 42px;
            height: 45px;
            background-repeat: no-repeat;
            background-size: contain;
        }

        @include sp {
            font-size: 1.4rem;
            transform: none;
        }
    }


    .c-houseitem__titletextthree {
        transform: translateY(45px);
        margin-left: 1px;
        letter-spacing: 0.4px;

        @include sp {
            margin-left: -6px;
            transform: unset;
            letter-spacing: 0.6px;
        }
    }

    .c-house__numbertwo {
        margin-left: -25px;
        margin-top: -5px;

        @include sp {
            transform: translateX(9px);
            margin-top: 5px;
            margin-left: 0;
        }
    }

    .c-houseitem__right {
        width: 44.5%;
        // padding-left: 1%;
        margin-left: 5.4%;

        @include tb {
            width: 84.3%;
            margin: 0 auto;
        }
    }

    .c-houseitem__des {
        font-size: 2.1rem;
        color: #231815;
        font-weight: 400;
        margin-top: 61px;
        line-height: 1.6;
        letter-spacing: 0.7px;

        @include sp {
            font-size: 1.05rem;
            letter-spacing: 0.3px;
            margin-top: 10px;
            transform: translateY(2px);
        }
    }

    .c-houseitem__destwo {
        margin-left: 22px;
        transform: translateX(34px);

        @include sp {
            margin: 11px 6px 0 50px;
            transform: translateY(1px);
        }
    }

    .c-houseitem__desthree {
        margin-left: 82px;
        line-height: 1.7;
        letter-spacing: 0.7px;
        transform: translate(26px, -34px);

        @include sp {
            margin: 9px 0 0 49px;
            letter-spacing: 0.3px;
            line-height: 1.6;
            transform: translateY(2px);
        }

    }

    .c-house__numberone {
        margin-top: -12px;
        margin-left: 25px;

        @include sp {
            margin-top: -3px;
            margin-left: 14px;
        }
    }

    .c-house__number {
        @include sp {
            width: 45px;
        }
    }

}

// POINT
.c-point {
    width: 100%;
    margin-top: 164px;
    padding: 60px 46px 0;
    position: relative;

    @include tbPro {
        // padding-bottom: 173px;
        padding: 60px 23px 0;

    }

    @include sp {
        margin-top: 72px;
        padding: 112px 10px 91px;
    }

    .c-header__imgsp {
        display: none;

        @include tb {
            display: block;
            position: absolute;
            bottom: -103px;
            right: 59px;
            display: block;
        }

        @include sp {
            width: 214px;
            position: absolute;
            bottom: -40px;
            right: -3px;
            display: block;
        }
    }

    .c-point__header {
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin-top: -120px;
        width: 100%;
        max-width: 1450px;
        margin-right: 0;
        margin-left: auto;

        @include tb {
            margin-left: 0;
        }
    }

    .c-point__header {
        .c-header__img {
            width: 367px;
            max-width: 28%;
            position: relative;
            z-index: 1;
            height: 100%;
            margin-top: -96px;

            @include tb {
                display: none;
            }
        }
    }


    .c-header__title {
        font-family: $sub-font2;
        font-weight: 300;
        font-size: 8.3rem;
        letter-spacing: 8.1px;
        color: #000;
        text-align: right;
        @include tbPro {
            font-size: 7rem;
        }

        @include sp {
            font-size: 3rem;
            letter-spacing: 3.3px;
        }

    }

    .c-headertext {
        font-weight: 400;
        font-size: 3.4rem;
        color: #231815;
        text-align: end;
        transform: translate(7px, -6px);

        @include sp {
            font-size: 1.2rem;
            margin-right: 7px;
            letter-spacing: 0.6px;
            margin-top: 6px;
            transform: translate(16px, -6px);
        }
    }




    .c-point__list {
        display: flex;
        justify-content: space-between;
        padding: 0 30px 80px;
        flex-wrap: wrap;
        margin-top: 19px;
       

        @include tb {
            width: 100%;
            padding: 15px 0;
        }

    }

    .c-point__item {
        color: #231815;
        width: calc(25% - 17px);
        background: rgb(255, 255, 255);
        padding: 22px 20px 43px;

        @include tb {
            width: 48.4%;
            margin-bottom: 16px;
            padding: 10px;
        }

        @include sp {
            padding: 10px 11px 18px 10px;
            margin-right: 0;
            margin-bottom: 16px;
        }

    }

    .c-point__item:nth-child(1) {
        @include sp {
            padding: 10px 9px 16px 12px;

        }
    }

    .c-point__item:nth-child(3) {
        @include sp {
            padding: 10px 7px 18px 10px;

        }
    }

    .c-point__item:nth-child(4) {
        @include sp {
            padding: 10px 11px 10px 10px;

        }
    }

    .c-point__right {
        margin: -11px 0 0 auto;
        width: 798px;
        max-width: 72%;
        @include tb {
            max-width: 100%;
        }

        @include sp {
            margin-top: -5px;
            margin-left: 57px;
        }

    }

    .c-pointitem__img {
        width: 100%;
        height: 257px;
        object-fit: cover;

        @include sp {
            height: 115px;
            margin-bottom: -12px;
        }
    }

    .c-pointitem__title {
        font-size: 2.3rem;
        font-weight: 400;
        margin-top: 25px;

        @include sp {
            font-size: 1.1rem;
            margin-bottom: 4px;
            margin-top: 23px;

        }
    }

    .c-pointitem__des {
        font-size: 1.9rem;
        font-weight: 300;
        font-weight: 300;
        font-size: 1.9rem;
        color: #231815;
        letter-spacing: 0;
        line-height: 1.4;
        padding: 0 10px 0 2px;
        margin-top: 12px;

        @include sp {
            font-size: 1rem;
            letter-spacing: -0.5px;
            line-height: 1.3;
            margin-bottom: -1px;
            margin-top: 6px;
            padding: 0 6px 0 0;
        }
    }

    .c-point__item:nth-child(4) {
        .c-pointitem__des {
            @include sp {
                padding: 0;
            }
        }
    }

}

//DESIGN
.c-design {
    margin-bottom: 118px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        right: 0;
        width: 62.8%;
        background-color: #ededed;
        z-index: -1;
        height: 527px;
        bottom: 20%;
    }


    @include sp {
        // max-width: 375px;
        margin: 0 auto 49px;
    }

    .c-design__item {
        width: 75%;
        z-index: 11;
        top: 4px;
        left: 0;
        position: relative;

        @include tb {
            width: 96%;
        }
    }


    .c-design__title {
        font-size: 2.7rem;
        color: #231815;
        font-weight: 400;
        margin-top: 23px;
        line-height: 1.4;

        @include sp {
            font-size: 1.4rem;
            letter-spacing: -0.5px;
            margin-top: 11px;
        }
    }

    .c-design__text {
        color: #231815;
        font-size: 1.9rem;
        margin-top: 36px;
        font-weight: 300;
        line-height: 1.8;

        @include sp {
            font-size: 1rem;
            margin-top: 16px;
        }
    }



    .c-design__left {
        width: 680px;
        max-width: 50%;
        padding: 24px 50px 0 0;
        margin: 0 auto;


        @include tb {
            width: 64%;
            max-width: 100%;
            margin: 0 auto;
            margin-bottom: 47px;
            padding: 30px 0 0;
        }

        @include sp {
            // width: 100%;
            // padding-left: 6%;
            max-width: unset;
        }
    }

}

.c-design__header {
    letter-spacing: 4.6px;
    margin-top: 1px;

    @include sp {
        font-size: 2.4rem;
        letter-spacing: 2.2px;
    }
}

.c-design__right {
    width: 690px;
    // margin: 140px 0 0;
    margin: 140px auto 0;


    @include tb {

        // width: 100%;
        height: 167px;
        margin: 0 auto;
        padding: 0;
        width: 64%;
        max-width: 100%;

    }

    @include sp {
        height: 168px;
        margin: 0 auto;
    }

    iframe {
        width: 100%;
        max-width: 100%;
        width: 701px;
        height: 390px;

        @include sp {
            width: 100%;
            margin: 0 auto;
            display: block;
            height: 100%;
        }
    }
}

.c-design__imglist {

    @include sp {
        height: 200px;
    }



}

// PLAN
.c-plan {

    max-width: 1360px;
    width: 100%;
    margin: 0 auto;

    @include sp {
        max-width: 375px;
    }

    .c-plan__texttitle {
        letter-spacing: 4.4px;
        text-align: center;
        transform: translateX(5px);

        @include sp {
            letter-spacing: 2.2px;
            transform: unset;
        }
    }

    .c-plan__imglist {
        display: flex;
        margin-top: 74px;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;

        @include sp {
            margin: 25px 11px 0;
        }
    }

    .c-plan__item {
        width: 46.4%;

        @include sp {
            position: relative;
            // padding-bottom: 27px;
            width: 48.1%;
        }

    }

    .c-itemone {
        transform: translateX(84px);

        @include sp {
            transform: unset;
            margin-top: -5px;
        }
    }

    .c-itemtwo {
        transform: translateX(-56px);
        margin-top: 14px;
        width: 45%;

        @include sp {
            transform: translateX(-4px);
            margin: -5px 18px 0 0;
            width: 47%;
        }

        img:nth-child(2) {
            transform: translate(84px, -14px);

            @include sp {
                transform: translate(21px, 8px);
            }
        }
    }

    .c-plan__item:first-child {
        margin-right: 60px;

        @include tb {
            margin-right: 0;
        }
    }

    .c-plan__listtext {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        max-width: 1031px;
        margin-top: 38px;
        font-weight: 300;
        // margin-left: 164px;

        @include tb {
            display: unset;
            margin-top: 29px;
            margin-left: 0;
            text-align: center;
        }

    }
}

// FINACE
.c-finace {
    background-color: $background-colormain;
    padding-top: 90px;

    @include sp {
        margin: 0 auto;
        padding: 34px 15px 0;
    }

    .c-finace__texttitle {
        text-align: center;
        letter-spacing: 4.7px;
        transform: translate(13px, 6px);

        @include sp {
            letter-spacing: 2.4px;
            transform: translate(0, 1px);
        }
    }

    .c-finace__header {
        font-weight: 400;
        font-size: 3rem;
        color: #fff;
        background-color: #231815;
        max-width: 408px;
        margin: 78px auto 16px;
        padding: 12px 23px 23px 24px;
        letter-spacing: 0.1rem;
        text-align: center;
        display: block;
        line-height: 1;
        transform: translate(17px, 12px);

        @include sp {
            max-width: 204px;
            height: 33px;
            margin: 30px auto 0;
            font-size: 1.5rem;
            letter-spacing: 0.2px;
            transform: translateY(13px);
            text-align: center;
            padding: 5px 20px;
        }
    }

    .c-finace__content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1424px;
        width: 100%;
        padding: 10px 42px 78px;

        @include sp {
            margin-top: 36px;
            padding: 0 0 32px;
            max-width: 335px;
        }

    }

    .c-finace__item {
        background-color: #fafafa;
        padding: 97px 75px;
        color: #231815;
        width: 605px;
        height: 432px;
        // margin: 31px;
        font-size: 2.2rem;
        position: relative;
        margin: 31px auto;

        @include tb1 {}

        @include sp {
            margin: 0 auto 28px;
            width: 302px;
            height: 216px;
        }

        .c-item__content {
            position: absolute;
            margin: 0 auto;
            top: 56.1%;
            left: 35%;
            transform: translate(-30%, -49%);
            width: 70%;
            font-weight: 400;

            @include sp {
                top: 52.1%;
            }

        }
    }

    .c-finace__itemone {
        @include tb1 {
            // margin: 0 auto 50px;

        }

        p {
            margin-bottom: 37px;
            letter-spacing: -0.4px;
            transform: translateY(2px);

            @include sp {
                font-size: 1.1rem;
                letter-spacing: -0.3px;
                line-height: 3.1;
                margin-bottom: 0;
            }
        }

        p:nth-child(3) {
            transform: translate(5px, 1px);
            letter-spacing: -0.4px;
        }

        p:nth-child(4) {
            transform: translate(-1px, 0);
            letter-spacing: -0.3px;
        }

    }
}

.c-finace__itemtwo {
    position: relative;

    .c-item__content {
        p:nth-child(1) {
            font-weight: 700;
            font-size: 2.6rem;
        }

        h3 {
            font-weight: 700;
            font-size: 9rem;
            color: #7a89a8;
            display: flex;

            span {
                font-size: 3.6rem;
                transform: translate(14px, 67px);
            }
        }

        p:nth-child(2) {
            font-weight: 400;
            font-size: 2.2rem;
        }

    }

    .c-item__contenttwo {
        position: absolute;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;

        @include sp {
            top: 52%;
        }

        .c-itemtwo__textone {
            font-weight: 700;
            margin-top: -17px;
            margin-left: 6px;
            color: #231815;
            letter-spacing: -0.7px;
            font-size: 2.6rem;

            @include sp {
                font-size: 1.3rem;
                margin-left: 1px;
            }
        }


        h3 {
            font-weight: 700;
            font-size: 9rem;
            color: #7a89a8;
            display: flex;
            transform: translate(-1px, 4px);

            @include sp {
                font-size: 4.5rem;
                transform: translate(-5px, -1px);
            }

            span {
                font-size: 3.6rem;

                transform: translate(10px, 66px);

                @include sp {
                    font-size: 1.8rem;
                    margin-left: 5px;
                    transform: translate(-3px, 33px);
                }
            }
        }

        .c-itemtwo__text {
            display: block;
            transform: translate(-2px, 15px);
            letter-spacing: -0.8px;
            font-weight: 400;

            @include sp {
                font-size: 1.1rem;
                letter-spacing: -0.2px;
                transform: translateY(8px);
                margin-left: -2px;
            }
        }

    }
}

// BOOKING
.c-booking {
    max-width: 1751px;
    width: 100%;
    margin: 0 auto;
    padding: 68px 20px 0;

    @include sp {
        max-width: 375px;
        padding: 50px 0 0;
    }


    .c-booking__header {
        font-size: 3.4rem;
        font-weight: 400;
        color: #231815;
        text-align: center;
        letter-spacing: -1.4px;
        transform: translateX(7px);

        @include sp {
            font-size: 1.7rem;
            transform: translateX(0);
            letter-spacing: -0.5px;
            margin-left: -24px;
            margin-top: -7px;
        }

        span {
            color: #252a6d;
            font-size: 4.6rem;
            letter-spacing: 10.3px;
            font-family: $sub-font1;

            @include sp {
                font-size: 2.3rem;
                margin-left: -7px;
                letter-spacing: 0.25em;
                transform: translateX(5px);
                display: inline-block;

            }
        }
    }

    .c-booking__destitle {
        text-align: center;
        font-size: 2.7rem;
        font-weight: 300;
        color: #231815;
        margin-top: 21px;

        @include sp {
            font-size: 1.4rem;
            margin-top: 11px;
            transform: translateX(0);
            letter-spacing: -0.5px;
            margin-left: 0;
        }

        .c-textone {
            display: inline-block;
            transform: translateX(11px);

            @include sp {
                transform: translateX(6px);
            }
        }

        p:nth-child(1) {
            transform: translate(-1px, 5px);

            @include sp {
                transform: translate(-13px, 0);
            }
        }

        p:nth-child(2) {
            margin-left: 54px;

            @include sp {
                letter-spacing: -0.5px;
                margin: -3px 0 0 6px;
            }
        }

    }

    .c-booking__process {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include tb {
            width: 89%;
            // transform: translateX(1px);
            margin: 0 auto;
        }
    }

    .c-booking__list {
        margin: 70px 0 0 30px;

        @include sp {
            margin: 35px auto 0;
        }
    }

    .c-booking__item {
        background-color: #565f64;

        position: relative;
        padding: 50px 1%;
        background-color: #565f64;
        color: #fff;
        width: 17.03%;
        text-align: center;

        @include tb {
            width: 43%;
            margin-right: 5%;
            margin-bottom: 7.1%;
            padding: 3.5% 0 3%;
        }

        @include sp {
            width: 43.1%;
            padding: 26px 0 0;
            margin-bottom: 24px;
            margin-right: unset;

        }

    }


    .c-booking__item:first-child {
        background-color: #231815;

        .c-booking__icon {
            @include sp {
                transform: translateX(-2px);
            }
        }

        .c-booking__titlte {
            @include sp {
                transform: translate(-3px, 0);
            }
        }

    }

    .c-booking__item:last-child {
        background-color: #7a89a8;
    }

    .c-booking__item:not(:last-child)::before {
        content: "";
        background: url(../../assets/icon/icon-next-booking.svg) top right no-repeat;
        width: 13px;
        height: 17px;
        position: absolute;
        top: 51%;
        right: -13%;
        transform: translateY(-51%);

        @include sp {
            width: 5px;
            height: 10px;
            right: -13%;
        }
    }

    .c-booking__item:nth-child(2) {
        .c-booking__des {
            @include sp {
                transform: translate(1px, -3px);
            }
        }

        @include sp {
            transform: translateX(-16px);
        }
    }

    .c-booking__item:nth-child(4) {
        @include sp {
            transform: translateX(-16px);
        }
    }

    .c-booking__item:not(:first-child) {}

    .c-booking__icon {
        display: block;
        margin: 0 auto;
        width: 41px;

        @include sp {
            width: 20px;
        }
    }



    .c-booking__title {
        margin-top: 22px;
        font-size: 2.1rem;
        font-weight: 400;

        @include sp {
            font-size: 1.1rem;
            margin-top: 11px;
        }
    }


    .c-booking__des {
        font-size: 1.6rem;
        font-weight: 400;
        padding-top: 14px;
        margin-top: 12px;
        border-top: 0.5px solid #fff;
        margin-bottom: -3px;

        @include sp {
            font-size: 0.8rem;
            margin-bottom: 22px;
            transform: translate(-1px, -2px);
            margin-top: 0;
            border-top: unset;
        }
    }

    .c-booking__title::after {

        @include sp {
            position: absolute;
            display: block;
            content: "";
            height: 1px;
            background-color: #ededed;
            width: 83%;
            transform: translateY(4px);
            margin: 0 auto;
            left: 13px;
        }
    }
}

// PREVENT
.c-prevent {
    transform: translateX(2px);
    max-width: 1196px;
    width: 100%;
    margin: 124px auto 110px;
    display: block;

    @include sp {
        width: 88.6%;
        margin: 41px auto 59px;
        transform: unset;
    }

    .c-prevent__header {
        background: #231815;
        padding: 61px 82px;
        height: 214px;
        width: 100%;
        height: 214px;
        background-color: #231815;
        padding: 63px 0 150px;
        transform: translateX(2px);

        @include tb {
            // margin-bottom: 10px;
            height: 240px;
            transform: none;
        }

        @include sp {
            padding: 27px 50px;
            height: 186px;
            transform: none;
        }
    }

    .c-prevent__headerone {
        display: flex;
        flex-wrap: wrap;
        margin-left: 3px;
        max-width: 1067px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        -ms-flex-pack: justify;
    }

    .c-prevent__textone {
        border-radius: 36px;
        color: #231815;
        background-color: #fff;
        font-size: 2.3rem;
        font-weight: 700;
        padding: 9px 28px;
        transform: translate(-11px, -2px);
        display: block;
        margin: 0 auto;

        @include tb {
            margin: 0 auto;
        }

        @include sp {
            font-size: 1.2rem;
            width: 95px;
            height: 17px;
            letter-spacing: 0;
            padding: 4px 12px;
            transform: translate(0, -1px);
        }

    }

    .c-prevent__texttwo {
        font-size: 3.2rem;
        font-weight: 300;
        color: #fff;
        transform: translate(-11px, 0);
        display: block;
        margin: 0 auto;
        padding-left: 20px;

        @include tb {

            transform: unset;
            margin: 0 auto;
        }

        @include sp {
            font-size: 1.6rem;
            text-align: center;
            margin-top: 10px;
            line-height: 1.1;
            letter-spacing: 1px;
            transform: translate(2px, -2px);
        }
    }

    .c-prevent__des {
        color: #fff;
        font-size: 2rem;
        font-weight: 300;
        margin-top: 6px;
        letter-spacing: 0.9px;
        text-align: center;
        padding-bottom: 20px;
        transform: translate(10px, 15px);

        @include tb {
            margin-bottom: 10px;
            margin-top: 0;

            margin: 0 10px;
        }

        @include sp {
            font-size: 1rem;
            letter-spacing: 0.2px;
            margin: 16px 21px 0;
            transform: translate(0, -7px);
            line-height: 1.6;
        }

    }

    .c-prevent__inf {
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;

        @include sp {
            font-size: 0.9rem;
            margin-bottom: 5px;
        }
    }

    .c-prevent__list {
        display: flex;
        flex-wrap: wrap;
        border-left: 1px solid #231815;
        border-right: 1px solid #231815;
        border-bottom: 1px solid #231815;
        padding: 37px 38px 49px;

        @include sp {
            padding: 37px 20px 59px;
        }
    }

    .c-prevent__item {
        border-right: 1px solid #aeaeae;
        padding: 0 30px 20px;
        width: 20.4%;

        @include tb {
            width: 50%;
            border-bottom: 1px solid #aeaeae;
        }

        @include sp {
            padding: 0 15px;
        }
    }

    .c-prevent__item:nth-child(-n+5) {
        border-bottom: 1px solid #aeaeae;

    }

    .c-prevent__item:nth-child(5) {
        border-right: unset;
        width: 18.3%;
        padding: 0 15px;

        @include tb {
            border-right: 1px solid #aeaeae;
        }

        @include sp {
            width: 50%;
        }
    }

    .c-prevent__item:nth-child(10) {
        border-right: unset;
        width: 18.3%;

        @include tb {
            border-bottom: unset;
        }

        @include sp {
            width: 50%;
        }
    }

    .c-prevent__item:nth-child(9) {
        @include tb {
            border-bottom: unset;
        }
    }


    .c-prevent__item:nth-child(even) {
        @include tb {
            border-right: unset;
        }
    }

    .c-prevent__item:nth-child(even) {
        @include tb {
            width: 42%;
            margin-left: 4px;
        }
    }

    .c-prevent__item:nth-child(odd) {
        @include tb {
            width: 55%;
            margin-left: -5px;
        }
    }




    .c-prevent__img {
        width: 153px;
        margin: 0 auto;
        display: block;
        margin: 23px auto;
    }


    .u-pcprevent {
        @include sp {
            display: none;
        }
    }

    .u-spprevent {
        display: none;

        @include sp {
            display: flex;
        }
    }

}

// ACCESS
.c-access {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .c-access__title {
        margin-left: -68px !important;

        @include sp {
            margin-left: 18px !important;
            margin-bottom: 0;
        }
    }

    .c-access__left {
        width: 50%;

        @include tb {
            width: 100%;
            height: 500px;
        }

        @include sp {
            width: 100%;
            height: 290px;
        }

        iframe {
            height: 100%;
            width: 100%;

        }

    }

    .c-access__right {
        background-color: #ededed;
        width: 50%;
        position: relative;
        min-height: 700px;

        @include tb {
            width: 100%;
            min-height: unset;
        }


    }

    .c-access__content {
        margin-top: 30px;
        font-size: 2.8rem;
        font-weight: 300;
        margin-top: 83px;
        transform: translateX(-1px);
        color: #000;

        @include tb {
            margin: 41px auto 37px;

        }

        @include sp {
            width: 300px;
        }

        .c-access__text:nth-child(2) {
            @include sp {
                margin-bottom: 5px;

            }
        }

    }

    .c-access__des {
        font-size: 2.8rem;
        font-weight: 300;
        text-align: center;
        margin-top: 46px;
        margin-left: -65px;
        color: #000;

        @include sp {
            font-size: 1.4rem;
            margin-top: 23px;
            text-align: center;
            margin-left: 19px;
        }
    }

    .c-access__text {
        color: #000;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 12px;
        display: flex;
        height: 47px;

        @include sp {
            height: 24px;
            margin-bottom: 6px;
            font-size: 1.3rem;

        }

    }

    .c-access__contentleft {
        background-color: #565f64;
        color: #fff;
        width: 120px;
        height: 46px;
        margin-right: 20px;
        display: block;
        text-align: center;
        line-height: 2;

        @include sp {
            width: 59px;
            height: 24px;
            margin-right: 13px;
            margin-left: 15px;
        }
    }

    .c-access__desright {
        font-size: 1.5rem;
        margin-left: 149px;
        font-weight: 400;
        transform: translate(-1px, 0);
        letter-spacing: 0.2px;

        @include sp {
            font-size: 0.8rem;
            margin-left: 69px;
            transform: translateX(11px);
            letter-spacing: 0;
        }


    }

    .c-content__rightone {
        margin-top: 3px;
        letter-spacing: 1.5px;
        margin-left: 1px;

        @include sp {
            letter-spacing: 0.4px;
            margin-left: -2px;
            margin-top: 2px;
        }

        span {
            margin-left: 5px;
            letter-spacing: 3.1px;

            @include sp {
                margin-left: 2px;
                letter-spacing: 2.1px;
            }
        }
    }

    .c-content__righttwo {
        margin-top: 6px;
        margin-left: 2px;

        @include sp {
            letter-spacing: -0.2px;
            margin-top: 3px;
            margin-left: -2px;
        }

        span {
            margin-left: 4px;
        }
    }

    .c-content__rightthree {
        margin-top: 8px;
        margin-left: 1px;

        @include sp {
            letter-spacing: -0.3px;
            margin-left: -2px;
            margin-top: 3px;
        }
    }


}

// FOOTERs
.c-footer {
    max-width: 1237px;
    margin: 0 auto;
    transform: translateX(2px);
    margin-top: 3px;
    padding: 0 20px;


    @include sp {
        max-width: 375px;
        transform: translateX(0);
        margin: 29px auto;
        padding: 0;
    }

    .c-footer__contact {
        width: 99.8%;
        border: 1px solid;
        height: 283px;
        margin: -1px 0 89px;
        display: block;

        @include sp {
            width: 84.9%;
            margin: 18px auto 33px;
            height: 111px;
        }

        a {
            text-align: center;
            font-size: 4.8rem;
            font-weight: 300;
            line-height: 6;
            letter-spacing: 4.5px;
            transform: translate(-5px, 0);
            text-transform: uppercase;
            font-family: $sub-font2;
            color: #000;
            display: block;
            display: inline-block;
            width: 100%;

            @include sp {
                font-size: 2.4rem;
                letter-spacing: 2.3px;
                transform: translateY(-13px);
            }
        }

    }

    .c-footer__logo {
        display: block;
        width: 205px;
        margin: 0 auto;
        margin-bottom: 85px;
        transform: translate(-2px, -4px);

        @include sp {
            width: 103px;
            transform: translateX(0);
            margin-bottom: 0;
        }
    }
}
