/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.c-header {
    .c-header__banner {
        background-image: url("/_public/assets/img/Background-header.png");
        width: 100%;
        height: 1052px;
        background-size: cover;
        object-fit: cover;
        object-position: center;
        position: relative;
        background-position-x: center;

        @include sp {
            width: 100%;
            margin: 0 auto;
            height: 445px;
        }
    }

    .c-bannerinner {
        background-color: rgba(255, 255, 255, 0.49);
        padding: 120px 30px 85px;
        max-width: 435px;
        width: 100%;
        height: 460px;
        position: absolute;
        left: 51.8%;
        top: 53.8%;
        transform: translate(-54%, -51.8%);

        @include sp {
            width: 217px;
            height: 230px;
            padding: 58px 0 10px;
            top: calc(50% + 4px);
        }


        .c-bannerinner__logo {
            margin: 0 auto;
            display: block;
            transform: translateY(-6px);

            @include sp {
                width: 52%;
                transform: translate(2px, 0);
            }
        }

        .c-bannerinner__text {
            font-size: 2rem;
            line-height: 2.4;
            text-align: center;
            display: block;
            padding: 30px 0;
            font-weight: 700;
            // transform: translateY(10px);
            transform: translate(-3px, 8px);
            letter-spacing: -1.5px;

            @include sp {
                font-size: 0.97rem;
                margin-top: -7px;
                transform: translateX(0);
                letter-spacing: -0.7px;
                font-family: Kozuka Mincho pr6n, "Kozuka Mincho", sans-serif;
                padding-bottom: 0;
            }
        }

        .c-bannerinner__now {
            display: block;
            margin: 0 auto;
            transform: translate(4px, 7px);

            @include sp {
                width: 74.4%;
                margin: -16px 0 0 8px;
                transform: translate(30px, 30px);
            }
        }
    }

}

// CASE
.c-case {
    background-image: url("/_public/assets/img/bg-grid.png");

    .c-listcase {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        // max-width: 1536px;
        // margin: 0 auto;
        @include tb {
            margin-top: 50px;
        }

    }

    .c-itemcase {
        position: relative;
        margin-bottom: 30px;
        transform: translate(16px, -30px);
        width: 31.1%;
        position: relative;

        @include tb {
            width: 70%;
            margin: 0 auto 60px;
        }

        @include sp {
            width: 87.8%;
            margin: 0 auto 29px;
        }

        .c-des {
            // font-family: $sub-font1;
            font-size: 2.4rem;
            color: #fff;
            text-align: center;
            font-weight: 700;
            letter-spacing: -1.6px;

            @include sp {
                font-size: 1.7rem;
                letter-spacing: -0.3px;
                margin-top: 2px;
            }
        }

        .c-note {
            background-color: #7a89a8;
            border-radius: 20px;
            width: 210px;
            height: 35px;
            font-size: 1.8rem;
            z-index: 1;
            text-align: center;
            color: #fff;

            position: absolute;
            right: -7px;
            top: -13px;
            line-height: 2;
            letter-spacing: -1.5px;
        }

        .c-notesp {
            background-color: #7a89a8;
            border-radius: 20px;
            width: 210px;
            height: 35px;
            font-size: 1.8rem;
            z-index: 1;
            text-align: center;
            color: #fff;

            position: absolute;
            left: -4px;
            top: -16px;
            line-height: 2;
            letter-spacing: -1.5px;
        }
    }

    .c-itemcase:nth-child(2) {
        transform: translate(22px, -30px);
    }

    .c-itemcase:last-child {
        transform: translate(27px, -31px);

        .c-des {
            letter-spacing: -1.9px;
            transform: translateX(-7px);
        }
    }


    .c-case__title {
        font-size: 3.6rem;
        font-weight: 400;
        text-align: center;
        // font-family: $sub-font1;
        transform: translateX(16px);
        color: #000;

        @include sp {
            font-size: 1.5rem;
            margin-left: -1px;
            transform: translateY(-1px);
            transform: translateY(-1px);
            letter-spacing: 0;
        }
    }

    .c-case__number {
        font-family: $sub-font3;
        font-weight: 700;
        font-size: 21.4rem;
        color: #ededed;
        transform: translateX(21px);
        display: block;

        @include sp {
            font-size: 14.8rem;
        }
    }

    .c-case__numbersp {
        font-family: $sub-font3;
        transform: translateY(-83px);
        margin-left: 158px;
        color: #ededed;
        font-size: 14.8rem;
        margin-top: 0;
        font-weight: 700;
    }

    .c-case__textsp {
        font-size: 1.7rem;
        top: 53%;
        right: 17.6%;
        letter-spacing: 3.9px;
        font-weight: bold;
        position: absolute;
        color: #c7c7c7;
        font-family: $sub-font3;

    }

    .c-case__text {
        font-family: $sub-font3;
        font-weight: 700;
        color: #c7c7c7;
        position: absolute;
        top: 54.6%;
        left: 22.7%;
        font-size: 2.4rem;
        letter-spacing: 6px;

        @include sp {
            font-size: 1.7rem;
        }

    }

    .c-case__des {
        background-color: #000;
        width: 100%;
        border-radius: 8px;
        height: 126px;
        padding: 45px 30px;
        position: absolute;
        top: 81.6%;
        left: -1px;

        @include sp {
            transform: translateX(-3px);
            top: 86.4%;
            width: 100%;
            height: 86px;
            padding: 30px 5px;
        }

        &::after {
            position: absolute;
            border-color: transparent transparent #000;
            top: -29px;
            left: 136px;
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 20px 29px 4px;

            @include sp {
                border-width: 0 12px 19px 4px;
                top: -19px;
                left: 94px;
            }
        }


    }

    .c-case__dessp {
        background-color: #000;
        border-radius: 8px;
        position: absolute;
        left: -1px;
        transform: translateX(-3px);
        top: 86.4%;
        width: 100%;
        height: 86px;
        padding: 30px 5px;

        &::after {

            position: absolute;
            border-color: transparent transparent #000;
            top: -29px;
            /* left: 223px; */
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 5px 41px 29px;
            right: 78px;

        }

    }

    .c-case__titlebottom {
        font-size: 3.4rem;
        font-weight: 400;
        color: #231815;
        letter-spacing: 0.1px;
        text-align: center;
        margin-top: 126px;
        transform: translate(14px, 4px);

        @include sp {
            font-size: 1.3rem;
            margin-top: 19px;
            transform: translateX(0);
            margin-left: -1px;
            letter-spacing: -0.3px;
            line-height: 1.3;
        }
    }
}

//HOUSE
.c-house {
    .c-house__title {
        text-transform: uppercase;
        font-family: $sub-font2;
        font-weight: 300;
        letter-spacing: 4.6px;
        color: #000;
        font-size: 4.8rem;
        text-align: center;
        transform: translate(20px, 16px);

        @include sp {
            font-size: 1.2rem;
            transform: translateY(-1px);
            margin: 8px auto 15px;
            letter-spacing: 1px;
        }
    }

    .c-house__list {
        @include sp {
            max-width: 375px;
            width: 100%;
            margin: 0 auto;
        }
    }

    .c-house__item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 62px;

        @include sp {
            margin-bottom: 25px;
            padding: 0;
        }
    }

    .c-house__itemtwo {
        @include tb {
            flex-direction: column-reverse;
        }
    }

    .c-houseitem__left {
        width: 50%;

        @include tb {
            width: 84.3%;
            margin: 0 auto;
        }
    }



    .c-houseitem__title {
        position: relative;
        margin-left: 102px;
        transform: translate(4px, -38px);

        @include sp {
            margin: 4px 0 0 54px;
        }
    }

    .c-houseitem__titleone {
        transform: translate(4px, -30px);
    }

    .c-houseitem__titletwo {
        margin-top: -30px;
        margin-left: 55px;
        position: relative;
    }



    .c-houseitem__titletext {
        font-size: 2.8rem;
        color: #231815;
        font-weight: 700;
        display: block;
        // font-family: $sub-font1;
        letter-spacing: 0.4px;
        transform: translateY(38px);

        @include sp {
            font-size: 1.4rem;
            letter-spacing: -2.4px;
        }
    }

    .c-houseitem__titletextthree {
        transform: translateY(45px);
        margin-left: 1px;
        letter-spacing: 0.4px;

        @include sp {
            margin-left: 0;
            transform: unset;
            margin-top: 50px;
        }
    }

    .c-house__numbertwo {
        margin-left: -25px;
        margin-top: -5px;

        @include sp {
            transform: translateX(9px);
            margin-top: 5px;
            margin-left: 0;
        }
    }

    .c-houseitem__right {
        width: 44.5%;

        @include tb {
            width: 84.3%;
            margin: 0 auto;
        }
    }

    .c-houseitem__des {
        font-size: 2.1rem;
        color: #231815;
        font-weight: 400;
        margin-top: 61px;
        // font-family: $sub-font1;
        line-height: 1.6;
        letter-spacing: 0.7px;

        @include sp {
            font-size: 1.05rem;
            letter-spacing: 0.3px;
        }
    }

    .c-houseitem__destwo {
        margin-left: 22px;
        transform: translateX(34px);
    }

    .c-houseitem__desthree {
        margin-left: 82px;
        line-height: 1.7;
        letter-spacing: 0.7px;
        transform: translate(26px, -34px);

        @include sp {
            margin-left: 0;
            margin-top: 0;
        }

    }

    .c-house__numberone {
        margin-top: -12px;
        margin-left: 25px;

    }

    .c-house__number {
        @include sp {
            width: 45px;
        }
    }

}

// POINT
.c-point {
    background-color: $background-colormain;
    width: 100%;
    margin-top: 164px;
    padding: 60px 46px 0;
    position: relative;
    @include sp {
        margin-top: 66px;
        padding: 112px 10px;
    }

    .c-header__imgsp {
        display: none;
        @include tb {
            display: block;
            margin: -50px 0 0 auto;
        }
        @include sp {
            width: 214px;
            position: absolute;
            bottom: -40px;
            right: 0;
            display: block;
        }
    }

    .c-point__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        top: -131px;
        position: relative;
        margin-left: 158px;
        @include tb {
            margin-left: 0;
        }
    }

    .c-point__header {
        .c-header__img {
            width: 31.4%;
            position: relative;
            z-index: 1;
            height: 100%;
            margin-top: -96px;
            left: -0.1%;
    
            @include tb {
                display: none;
            }
        }
    }


    .c-header__title {
        font-family: $sub-font2;
        font-weight: 300;
        font-size: 8.3rem;
        letter-spacing: 8.1px;

        @include sp {
            font-size: 3rem;
            letter-spacing: 3.3px;
        }

    }

    .c-headertext {
        // font-family: $sub-font1;
        font-weight: 400;
        font-size: 3.4rem;
        color: #231815;
        text-align: end;
        transform: translate(7px, -6px);
        @include sp {
            font-size: 1.2rem;
            margin-right: 7px;
            letter-spacing: 0.5px;
            margin-top: 6px;
        }
    }
    

    

    .c-point__list {
        display: flex;
        justify-content: space-between;
        padding: 0 30px 77px;
        flex-wrap: wrap;
        margin-top: -122px;

        @include tb {
            // width: 93%;
            width: 100%;
            padding: 67px 0;
        }

    }

    .c-point__item {
        color: #231815;
        width: calc(25% - 20px);
        background: rgb(255, 255, 255);
        padding: 22px 20px 39px;
        margin-right: 4px;

        // font-family: $sub-font1;
        @include tb {
            width: 48.4%;
            margin-bottom: 15px;
            padding: 10px;
        }

    }

    .c-point__right {
        margin: -11px 0 0 auto;
        @include sp {
            margin-top: -5px;
        }
    }

    .c-pointitem__img {
        width: 100%;
        height: 257px;
        object-fit: cover;
        @include sp {
            height: unset;
        }
    }

    .c-pointitem__title {
        font-size: 2.3rem;
        font-weight: 400;
        margin-top: 23px;
        @include sp {
            font-size: 1.1rem;
            margin-bottom: 4px;
        }
    }

    .c-pointitem__des {
        font-size: 1.9rem;
        font-weight: 300;
        margin-top: 12px;
        @include sp {
            font-size: 1rem;
            letter-spacing: -0.5px;
            line-height: 1.3;
            margin-bottom: 6px;
        }
    }

}

//DESIGN
.c-design {
    margin-bottom: 117px;

    .c-design__item {
        width: 75%;
        z-index: 11;
        top: 4px;
        left: 0;
        position: relative;
        @include sp {
            width: 98%;
        }
    }


    .c-design__title {
        font-size: 2.7rem;
        color: #231815;
        font-weight: 400;
        margin-top: 23px;
        line-height: 1.4;
        @include sp {
            font-size: 1.4rem;
            letter-spacing: 0.038em;
            margin-bottom: 18px;
        }
    }

    .c-design__text {
        color: #231815;
        font-size: 1.9rem;
        margin-top: 36px;
        font-weight: 300;
        line-height: 1.8;
        @include sp {
            font-size: 1rem;
            letter-spacing: -0.058em;
            line-height: 1.73;
        }
    }

    // .c-design__background {
    //     max-width: 1204px;
    //     background-color: $background-colormain;
    //     height: 527px;
    //     margin-left: 37.2%;
    //     display: block;
    //     margin-top: -108px;
    //     position: relative;
    // }

    .c-design__left {
        // font-family: $sub-font1;
        width: 50%;

        @include tb {
            width: 83%;
            margin: 0 auto;
            // Margin 
            margin-left: 0%;
            margin-bottom: 49px;
        }
        @include sp {
            width: 100%;
        }

    }

    .c-design__header {
        letter-spacing: 4.6px;
        margin-top: 1px;
    }

    .c-design__right {
        width: 50%;
        padding-left: 28px;
        margin-top: 116px;
        max-width: 750px;

        @include tb {
            width: 100%;
            margin: 0 auto;
        }
        @include sp {
            width: 100%;
            height: 168px;
            margin: 0 auto;
        }

        iframe {
            width: 100%;
            max-width: 700px;
            height: 390px;
            @include sp {
                width: 79.8%;
                margin: 0 auto;
                display: block;
                height: 100%;
            }
        }
    }



}

// PLAN
.c-plan {

    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    @include sp {
        max-width: 375px;
    }

    .c-plan__texttitle {
        letter-spacing: 4.4px;
        text-align: center;
        transform: translateX(5px);
    }

    .c-plan__imglist {
        display: flex;
        margin-top: 74px;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .c-plan__item {
        width: 46.4%;
        @include sp {
            position: relative;
            padding-bottom: 43px;
            width: 50%;
        }

    }

    .c-itemone {
        transform: translateX(84px);
        @include sp {
            transform: unset;


        }
    }

    .c-itemtwo {
        transform: translateX(-22px);
        margin-top: 18px;
        @include sp {
            transform: unset;
            margin-top: 0;
        }

        img:nth-child(2) {
            transform: translate(69px, -32px);
            @include sp {
                transform: translate(41px, 0);
            }
        }
    }

    .c-plan__item:first-child {
        margin-right: 60px;
        @include sp {
            margin-right: 0;
        }
    }

    .c-plan__listtext {
        display: flex;
        margin: 0 auto;
        justify-content: center;

        // font-family: $sub-font1;
        margin-top: 22px;
        font-weight: 300;
        margin-left: -10px;
        @include sp {
            display: unset;
            // /* line-height: 1.7; */
            margin-top: 29px;
            margin-left: 0;
            text-align: center;
        }

    }
}

// FINACE
.c-finace {
    background-color: $background-colormain;
    padding-top: 90px;
    @include sp {
        margin: 0 auto;
        padding: 34px 15px 0;
    }

    .c-finace__texttitle {
        text-align: center;
        letter-spacing: 4.7px;
        transform: translate(13px, 6px);
    }

    .c-finace__header {
        font-weight: 400;
        font-size: 3rem;
        color: #fff;
        background-color: #231815;
        padding: 5px 28px 15px;
        max-width: 408px;
        margin: 78px auto 16px;
        letter-spacing: 1.4px;
        text-align: center;
        display: block;
        transform: translate(17px, 10px);
        @include sp {
            max-width: 204px;
            height: 32px;
            margin: 30px auto 0;
            font-size: 1.5rem;
            letter-spacing: 0.2px;
            transform: translateY(-2px);
            text-align: center;
            padding: 5px 20px;
        }
    }

    .c-finace__content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1375px;
        width: 100%;
        padding: 10px 20px 78px;
        @include sp {
            margin-top: 24px;
            padding: 0 0 40px;
            max-width: 335px;
        }

    }

    .c-finace__item {
        background-color: #fafafa;
        padding: 97px 75px;
        color: #231815;
        width: 605px;
        height: 432px;
        margin: 31px;
        font-size: 2.2rem;
        position: relative;

        @include tb {
            margin: 0 auto 50px;
            width: 302px;
            height: 216px;
        }

        .c-item__content {
            position: absolute;
            margin: 0 auto;
            top: 56.1%;
            left: 35%;
            transform: translate(-30%, -49%);
            width: 70%;
            // font-family: $sub-font1;
            font-weight: 400;

        }
    }

    .c-finace__itemone {
        p {
            margin-bottom: 37px;
            letter-spacing: -0.4px;
            transform: translateY(2px);
            @include sp {
                font-size: 1.1rem;
                letter-spacing: -0.3px;
                line-height: 3.1;
                margin-bottom: 0;
            }
        }

        p:nth-child(3) {
            transform: translate(5px, 1px);
            letter-spacing: -0.4px;
        }

        p:nth-child(4) {
            transform: translate(-1px, 0);
            letter-spacing: -0.3px;
        }

    }
}

.c-finace__itemtwo {
    position: relative;

    .c-item__content {
        // font-family: $sub-font1;

        p:nth-child(1) {
            font-weight: 700;
            font-size: 2.6rem;
        }

        h3 {
            font-weight: 700;
            font-size: 9rem;
            color: #7a89a8;
            display: flex;

            span {
                font-size: 3.6rem;
                transform: translate(14px, 67px);
            }
        }

        p:nth-child(2) {
            font-weight: 400;
            font-size: 2.2rem;
        }

    }

    .c-item__contenttwo {
        // font-family: $sub-font1;
        position: absolute;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;

        .c-itemtwo__textone {
            font-weight: 700;
            margin-top: -17px;
            margin-left: 6px;
            color: #231815;
            letter-spacing: -0.7px;
            font-size: 2.6rem;
            @include sp {
                font-size: 1.3rem;
                margin-left: 1px;
            }
        }


        h3 {
            font-weight: 700;
            font-size: 9rem;
            color: #7a89a8;
            display: flex;
            transform: translate(-1px, 4px);
            @include sp {
                font-size: 4.5rem;
            }

            span {
                font-size: 3.6rem;

                transform: translate(10px, 66px);
                @include sp {
                    font-size: 1.8rem;
                    margin-left: 5px;
                    transform: translate(10px, 26px);
                }
            }
        }

        .c-itemtwo__text {
            display: block;
            transform: translate(-2px, 17px);
            letter-spacing: -0.8px;
            @include sp {
                font-size: 1.1rem;
                letter-spacing: -0.2px;
                transform: translateY(8px);
                transform: translateY(8px);
                margin-left: -2px;
            }
        }

    }
}

// BOOKING
.c-booking {
    max-width: 1751px;
    width: 100%;
    margin: 0 auto;
    padding: 68px 20px 0;
    @include sp {
        max-width: 375px;
        padding: 50px 0 0;
    }


    .c-booking__header {
        font-size: 3.4rem;
        font-weight: 400;
        color: #231815;
        text-align: center;
        letter-spacing: -1.4px;
        transform: translateX(7px);
        @include sp {
            font-size: 1.7rem;
            transform: translateX(0);
            letter-spacing: 0;
            margin-left: 0;
            margin-top: -1px;
        }

        span {
            color: #252a6d;
            font-size: 4.6rem;
            letter-spacing: 10.3px;
            @include sp {
                font-size: 2.3rem;
                letter-spacing: 5.6px;
            }
        }
    }

    .c-booking__destitle {
        text-align: center;
        font-size: 2.7rem;
        font-weight: 300;
        color: #231815;
        // font-family: $sub-font1;
        margin-top: 21px;
        @include sp {
            font-size: 1.4rem;
            margin-top: 22px;
            transform: translateX(0);
            letter-spacing: -0.5px;
            margin-left: 0;
            line-height: 0;
        }

        .c-textone {
            display: inline-block;
            transform: translateX(11px);
        }

        p:nth-child(1) {
            transform: translate(-1px, 5px);
        }

        p:nth-child(2) {
            margin-left: 54px;
            @include sp {
                letter-spacing: -0.5px;
                margin: 18px 0 45px 6px;
            }
        }

    }

    .c-booking__process {
        display: flex;
        //update
        justify-content: space-between;
        flex-wrap: wrap;

        @include tb {
            width: 90.1%;
            transform: translateX(1px);
            transform: translateX(1px);
            margin: 0 auto;
        }
    }

    .c-booking__list {
        margin: 70px 0 0 30px;
        @include sp {
            margin: 45px auto 0;
        }
    }

    .c-booking__item {
        background-color: #565f64;
        // padding: 48px 25px 54px;
        // text-align: center;
        // position: relative;
        // margin: 20px;
        // font-family: $sub-font1;
        // ------
        position: relative;
        padding: 50px 1%;
        background-color: #565f64;
        color: #fff;
        width: 17.03%;
        text-align: center;

        @include tb {
            width: 42.4%;
            margin-bottom: 23px;
        }
        @include sp {
            padding: 25px 0 0;
        }

    }


    .c-booking__item:first-child {
        background-color: #231815;
    }

    .c-booking__item:last-child {
        background-color: #7a89a8;
    }

    .c-booking__item:not(:last-child)::before {
        content: "";
        background: url(assets/icon/icon-next-booking.svg) top right no-repeat;
        width: 13px;
        height: 17px;
        position: absolute;
        top: 51%;
        right: -35px;
        transform: translateY(-51%);
        @include sp {
            width: 5px;
            height: 10px;
            right: -20px;
        }
    }

    .c-booking__item:not(:first-child) {
        
    }

    .c-booking__icon {
        display: block;
        margin: 0 auto;
        width: 41px;
        @include sp {
            width: 20px;
        }
    }



    .c-booking__title {
        margin-top: 22px;
        font-size: 2.1rem;
        font-weight: 400;
        @include sp {
            font-size: 1.1rem;
            margin-top: 8px;
        }
    }

    // .c-booking__title::after {
    //     font-size: 1.6rem;
    //     font-weight: 400;
    //     padding-top: 14px;
    //     margin-top: 12px;
    //     border-top: 0.5px solid #fff;
    //     margin-bottom: 11px;
    // }

    .c-booking__des {
        font-size: 1.6rem;
        font-weight: 400;
        padding-top: 14px;
        margin-top: 12px;
        border-top: 0.5px solid #fff;
        margin-bottom: 11px;
        margin-bottom: -3px;
        @include sp {
            font-size: 0.8rem;
            margin-bottom: 13px;
        }
    }
}

// PREVENT
.c-prevent {
    transform: translateX(2px);
    max-width: 1196px;
    width: 100%;
    margin: 124px auto 107px;
    display: block;
    @include sp {
        width: 88%;
        margin: 39px auto 59px;
        transform: translateX(-2px);
    }

    .c-prevent__header {
        background: #231815;
        padding: 61px 82px;
        height: 214px;
        width: 100%;
        height: 214px;
        background-color: #231815;
        padding: 63px 0 150px;
        transform: translateX(2px);
        @include sp {
            padding: 26px 50px;
            height: 186px;
        }
    }

    .c-prevent__headerone {
        display: flex;
        flex-wrap: wrap;
        margin-left: 3px;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .c-prevent__textone {
        border-radius: 36px;
        color: #231815;
        background-color: #fff;
        font-size: 2.3rem;
        font-weight: 700;
        padding: 9px 28px;
        margin-left: -16px;

        @include tb {
            margin: 0 auto;
        }
        @include sp {
            font-size: 1.2rem;
            width: 119px;
            height: 25px;
        }

    }

    .c-prevent__texttwo {
        font-size: 3.2rem;
        font-weight: 300;
        color: #fff;
        margin-top: 5px;
        @include sp {
            font-size: 1.6rem;
            text-align: center;
            margin-top: 13px;
            transform: translateY(9px);
            line-height: 1.1;
        }
    }

    .c-prevent__des {
        color: #fff;
        font-size: 2rem;
        font-weight: 300;
        margin-top: 21px;
        margin-left: 12px;
        letter-spacing: 0.9px;
        text-align: center;
        @include sp {
            font-size: 1rem;
            letter-spacing: 0.2px;
            margin: 23px 21px 0;
            transform: translate(0, -4px);
            line-height: 1.6;
        }
       
    }

    .c-prevent__inf {
        // font-family: $sub-font1;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        @include sp {
            font-size: 0.9rem;
            margin-bottom: 9px;
        }
    }

    .c-prevent__list {
        display: flex;
        flex-wrap: wrap;
        border-left: 1px solid #ededed;
        border-right: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        padding: 37px 38px 51px;
        @include sp {
            padding: 37px 20px 40px;
        }
    }

    .c-prevent__item {
        border-right: 1px solid #ededed;
        padding: 0 30px 20px;
        width: 20%;

        @include tb {
            width: 50%;
            border-bottom: 1px solid #ededed;
        }
        @include sp {
            padding: 0 15px;
        }
    }

    .c-prevent__item:nth-child(-n+5) {
        border-bottom: 1px solid #ededed;

    }

    .c-prevent__item:nth-child(5) {
        border-right: unset;

        @include tb {
            border-right: 1px solid #ededed;
        }
    }

    .c-prevent__item:nth-child(10) {
        border-right: unset;

        @include tb {
            border-bottom: unset;
        }
    }

    .c-prevent__item:nth-child(9) {
        @include tb {
            border-bottom: unset;
        }
    }


    .c-prevent__item:nth-child(even) {
        @include tb {
            border-right: unset;
        }
    }

    // .c-prevent__item:nth-child() {
    //     border-bottom: 1px solid #ededed;
    // }


    .c-prevent__img {
        width: 153px;
        margin: 0 auto;
        display: block;
        margin: 23px auto;
    }


    .u-pcprevent {
        @include sp {
            display: none;
        }
    }

    .u-spprevent {
        display: none;
        @include sp {
            display: flex;
        }
    }
        
}

// ACCESS
.c-access {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .c-access__title {
        margin-left: -68px !important;
    }

    .c-access__left {
        width: 50%;

        @include tb {
            width: 100%;
            height: 500px;
        }

        iframe {
            height: 100%;
            width: 100%;

        }

    }

    .c-access__right {
        background-color: #ededed;
        width: 50%;
        position: relative;
        min-height: 700px;

        @include tb {
            width: 100%;
        }


    }

    .c-access__content {
        margin-top: 30px;
        font-size: 2.8rem;
        font-weight: 300;
        margin-top: 83px;
        transform: translateX(-1px);

    }

    .c-access__des {
        font-size: 2.8rem;
        font-weight: 300;
        text-align: center;
        margin-top: 46px;
        margin-left: -65px;
    }

    .c-access__text {
        color: #000;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 12px;
        display: flex;
        height: 47px;

    }

    .c-access__contentleft {
        background-color: #565f64;
        color: #fff;
        width: 120px;
        height: 46px;
        margin-right: 20px;
        display: block;
        text-align: center;
        line-height: 2;
    }

    .c-access__desright {
        font-size: 1.5rem;
        transform: translateY(3px);
        margin-left: 149px;
    }

    .c-content__rightone {
        margin-top: 3px;
        letter-spacing: 1.5px;
        margin-left: 1px;

        span {
            margin-left: 5px;
            letter-spacing: 3.1px;
        }
    }

    .c-content__righttwo {
        margin-top: 6px;
        margin-left: 2px;

        span {
            margin-left: 4px;
        }
    }

    .c-content__rightthree {
        margin-top: 8px;
        margin-left: 1px;
    }


}

// FOOTERs
.c-footer {
    max-width: 1196px;
    margin: 0 auto;
    transform: translateX(2px);
    margin-top: 3px;

    .c-footer__contact {
        width: 99.8%;
        border: 1px solid;
        height: 283px;
        margin: -1px 0 89px;
        display: block;

        h3 {
            text-align: center;
            font-size: 4.8rem;
            font-weight: 300;
            line-height: 6;
            // font-family: $sub-font1;
            letter-spacing: 4.5px;
            transform: translate(-5px, 0);
            text-transform: uppercase;
            font-family: $sub-font2;
        }

    }

    .c-footer__logo {
        display: block;
        width: 205px;
        margin: 0 auto;
        margin-bottom: 85px;
        transform: translate(-2px, -4px);
    }
}
