/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1 {
    display: inline-block;
    padding: 10px 50px;
    font-size: 1.6rem;
    border: 2px solid #fff;
    border-radius: 20px;
    line-height: 1;
}


.c-buttonleft {
    width: 54px;
    display: block;
    position: absolute;
    right: 47px;
    bottom: -89px;
    margin-right: 26px;
 
}

.c-buttonright {
    width: 53px;
    display: block;
    right: 0;
    bottom: -89px;
    position: absolute;
}
//     }
    
    
// }
