/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-house {
    .c-iconhouse {
        width: 34px;
        position: absolute;
        top: -25%;
        left: 73%;

    }
}

.c-plan__floor {
    display: block;
    
    border-radius: 50%;
}

.c-plan__icon {
    width: 44px;
    margin-left: 30px;
}
