/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-house {
    .c-iconhouse {
        width: 42px;
        position: absolute;
        top: 6%;
        right: 11%;

    }

    .c-iconhousetwo {
        width: 42px;
        position: absolute;
        top: 26%;
        right: 2%;
    }

    .c-iconhousethree {
        width: 46px;
        position: absolute;
        top: 28%;
        right: -1%;
    }
}

.c-plan__floor {
    display: block;
    
    border-radius: 50%;
}

.c-plan__icon {
    width: 44px;
    margin-left: 34px;
    transform: translateY(-13px);
}
