/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-house {
    .c-iconhouse {
        width: 42px;
        position: absolute;
        top: 6%;
        right: 11%;
        @include sp {
            width: 21px;
            top: 27px;
            right: 75px;
        }

    }

    .c-iconhousetwo {
        width: 42px;
        position: absolute;
        top: 26%;
        right: 2%;
        @include sp {
            width: 21px;
            top: 27px;
            right: 75px;
        }
    }

    .c-iconhousethree {
        width: 46px;
        position: absolute;
        top: 28%;
        right: -1%;
        @include sp {
            width: 21px;
            top: 27px;
            right: 3px;
        }
    }
}

.c-plan__floor {
    display: block;

    border-radius: 50%;
}

.c-plan__icon {
    width: 44px;
    margin-left: 34px;
    transform: translateY(-13px);
    @include sp{
        width: 25px;
        transform: unset;
        margin-left: 9px;
    }
}
