/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-case {
    .u-text {
        color: #252a6d;
        font-size: 4.6rem;
        margin-left: -12px;
        transform: translateX(12px);
        display: inline-block;
        @include sp {
            font-size: 1.7rem;
            letter-spacing: 0.4px;
        }
    }
}

.c-house {
    .u-text {
        color: #252a6d;
        font-size: 3.6rem;
        margin-right: -3px;
        @include sp {
            font-size: 1.8rem;
            margin-left: -2px;
        }
    }

    .u-textthree {
        font-size: 3.6rem;
        color: #252a6d;
        margin-left: -10px;
        margin-right: -9px;
        @include sp {
            font-size: 1.8rem;
            margin-left: -8px;
            margin-right: -8px;
        }
    }
}

.c-plan__text {
    display: block;
    font-size: 2.2rem;
    font-weight: 300;
    margin-left: 30px;
    @include sp {
        font-size: 1.2rem;
        letter-spacing: -0.4px;
        line-height: 1.7;
        margin-left: unset;
    }
    
}

.c-plan__text:nth-child(1) {
    @include sp {
        margin-top: 26px;
    }
}

.c-plan__text:nth-child(2) {
    margin-right: 29px;
    
    @include sp {
        margin-left: 17px;
        // margin-top: 2px;
    }

    .c-plan__textnumber {
        transform: translateX(16px);
        display: inline-block;
        @include sp {
            transform: translateX(8px);
        }
    }

}

.c-plan__text:nth-child(3) {
    transform: translateX(-10px);
    @include sp {
        margin-left: 8px;
        margin-top: 2px;
    }

    .c-plan__textnumber {
        transform: translate(15px, 0);
        display: inline-block;
        @include sp {
            transform: translateX(10px);
        }
    }
}

.c-plan__listtext {
    .c-plan__textnumber {
        @include sp {
            transform: translateX(10px);
            display: inline-block;
        }
    }
}



.c-point {
    .u-text {
        font-size: 4.6rem;
        color: #252a6d;
        transform: translateX(-10px);
        display: inline-block;
        font-family: $sub-font1;
        @include sp {
            font-size: 1.7rem;
            transform: translateX(-4px);
        }
    }
}

.c-tabletext__one {
    transform: translate(3px, -2px);
    letter-spacing: 1.2px;
    @include sp {
        transform: translate(5px, 1px);
        letter-spacing: 1.2px;
    }
}
