/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-case {
    .u-text {
        color: #252a6d;
        font-size: 4.6rem;
        margin-left: -12px;
        transform: translateX(12px);
        display: inline-block;
        @include sp {
            font-size: 1.7rem;
            letter-spacing: 0.4px;
        }
    }
}

.c-house {
    .u-text {
        color: #252a6d;
        font-size: 3.6rem;
        margin-right: -3px;
        @include sp {
            font-size: 1.8rem;
            margin-left: 0;
        }
    }

    .u-textthree {
        font-size: 3.6rem;
        color: #252a6d;
        margin-left: -10px;
        margin-right: -9px;
        @include sp {
            font-size: 1.8rem;
            margin-left: 0;
        }
    }
}

.c-plan__text {
    display: block;
    font-size: 2.2rem;
    font-weight: 300;
    margin-left: 30px;
    @include sp{
             font-size: 1.2rem; 
   
     letter-spacing: -0.4px;
    }
}

.c-point {
    .u-text {
        font-size: 4.6rem;
        color: #252a6d;
        transform: translateX(-10px);
        display: inline-block;
        @include sp {
            font-size: 1.7rem;
        }
    }
}

.c-tabletext__one {
    transform: translate(3px, -2px);
    letter-spacing: 1.2px;
}
