/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/


.c-house {
    .c-house__imgright {
        margin-top: 30px;
        margin-left: 14px;
        display: block;
    }

    .c-house__imgtwo {
        margin-left: 27px;
        margin-top: 32px;
    }

    .c-house__numberthree {
        margin-top: -33px;
        margin-left: 25px;
    }

    .c-house__imgthree {
        margin-top: 36px;
        margin-left: 14px;
    }
}

.c-footerpoint__img {
    display: block;
    margin: 119px  auto;
    max-width: 1192px;
    width: 100%;
}

.c-itemtwo__img {
    width: 206px;
    position: absolute;
    top: -26px;
    right: 0;
    transform: translate(135px, -114px);
    display: block;
}

.c-footer__banner {
    margin: 85px 0 92px;
}

.c-prevent__list {
    .c-prevent__img1 {
        width: 105px;
        margin: 28px auto 20px;
        display: block;
        transform: translateX(-9px);
    }

    .c-prevent__img2 {
        width: 96px;
        margin: 22px auto;
        display: block;
        transform: translateX(-10px);
    }

    .c-prevent__img3 {
        width: 129px;
        margin: 19px auto;
        display: block;
        transform: translateX(-7px);
    }

    .c-prevent__img4 {
        width: 153px;
        margin: 56px auto 0;
        display: block;
        transform: translateX(-6px);
    }

    .c-prevent__img5 {
        width: 94px;
        margin: 23px auto;
        display: block;
        transform: translateX(5px);
    }

    .c-prevent__img6 {
        width: 99px;
        margin: 20px auto;
        display: block;
        transform: translateX(-9px);
    }

    .c-prevent__img7 {
        width: 87px;
        margin: 26px auto;
        display: block;
        transform: translateX(-9px);
    }

    .c-prevent__img8 {
        width: 114px;
        margin: 26px auto;
        display: block;
        transform: translateX(-8px);
    }

    .c-prevent__img9 {
        width: 124px;
        margin: 25px auto;
        display: block;
        transform: translateX(-6px);
    }

    .c-prevent__img10 {
        width: 117px;
        margin: 25px auto;
        display: block;
        transform: translateX(6px);
    }

}
