/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/


.c-house {
    .c-house__imgright {
        margin-top: 30px;
        margin-left: 14px;
        display: block;

    }


    .c-house__imgtwo {
        margin-left: 27px;
        margin-top: 32px;
    }

    .c-house__numberthree {
        margin-top: -33px;
        margin-left: 25px;
        @include sp {
            margin-top: 6px;
            margin-left: 9px;
        }
    }

    .c-house__imgthree {
        margin-top: 36px;
        margin-left: 14px;
    }

    .c-house__img {
        @include tb {
            margin: 30px auto 0;
            display: block;
            width: 100%;
        }

        @include sp {
            width: 91.7%;
            margin-top: 15px;
        }
    }
}

.c-footerpoint__img {
    display: block;
    margin: 119px auto;
    max-width: 1192px;
    width: 100%;

    @include sp {
        margin: 61px auto 45px;
        width: 84.9%;
    }
}

.c-itemtwo__img {
    width: 206px;
    position: absolute;
    top: -26px;
    right: 0;
    transform: translate(135px, -114px);
    display: block;

    @include sp {
     
        width: 102px;
        right: 68px;
        top: 37px;
        display: block;
     
    }
}

.c-footer__banner {
    margin: 85px 0 92px;
    @include sp {
        display: block;
        width: 85%;
        margin: 0 auto;
    }
}

.c-prevent__list {
    .c-prevent__img1 {
        width: 105px;
        margin: 28px auto 20px;
        display: block;
        transform: translateX(-9px);

        @include sp {
            width: 64px;
            margin: 18px auto 0;
            transform: translateX(10px);
        }
    }

    .c-prevent__img2 {
        width: 96px;
        margin: 22px auto;
        display: block;
        transform: translateX(-2px);

        @include sp {
            width: 59px;
            transform: translateX(3px);
            margin-top: 14px;
        }
    }

    .c-prevent__img3 {
        width: 129px;
        margin: 19px auto;
        display: block;
        transform: translateX(2px);

        @include sp {
            width: 78px;
            transform: translateX(11px);
            margin-top: 19px;
        }
    }

    .c-prevent__img4 {
        width: 153px;
        margin: 56px auto 0;
        display: block;
        transform: translateX(10px);

        @include sp {
            width: 93px;
            transform: translateX(5px);
            margin-top: 43px;
        }
    }

    .c-prevent__img5 {
        width: 94px;
        margin: 23px auto;
        display: block;
        transform: translateX(15px);

        @include sp {
            width: 56px;
            transform: translateX(18px);
            margin-top: 17px;
        }
    }

    .c-prevent__img6 {
        width: 99px;
        margin: 20px auto;
        display: block;
        transform: translateX(-6px);

        @include sp {
            width: 60px;
            transform: translateX(8px);
            margin: 12px auto;
        }
    }

    .c-prevent__img7 {
        width: 87px;
        margin: 26px auto;
        display: block;
        transform: translateX(0);

        @include sp {
            width: 53px;
            transform: translateX(3px);
            margin: 16px auto;
        }
    }

    .c-prevent__img8 {
        width: 114px;
        margin: 26px auto;
        display: block;
        transform: translateX(5px);

        @include sp {
            width: 69px;
            transform: translateX(11px);
            margin-top: 12px;
        }
    }

    .c-prevent__img9 {
        width: 124px;
        margin: 25px auto;
        display: block;
        transform: translate(12px, -1px);

        @include sp {
            width: 76px;
            transform: translateX(5px);
            margin-top: 12px;
        }
    }

    .c-prevent__img10 {
        width: 117px;
        margin: 25px auto;
        display: block;
        transform: translateX(14px);
        @include sp {
            width: 72px;
            transform: translateX(-5px);
            margin-top: 28px;
        }
    }

}
