/*------------------------------------------------------------
line
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-line {
    height: 1px;
    width: 50px;
    background: #000;
    display: block;
    margin: 30px 0;
    
}

.c-line__design {
    margin-bottom: 0;
    @include sp {
        width: 28px;
        margin: 16px 0 10px;
        transform: translateY(-2px);
    }
}

.c-line__plan {
    align-items: center;
    margin: 27px auto;
    height: 1px;
    width: 60px;
    transform: translateX(7px);
    @include sp {
        align-items: center;
        margin: 10px auto 30px;
        height: 1px;
        width: 29px;
        transform: unset;
    }
}

.c-access__title::after {
    display: block;
    content: "";
    position: absolute;
    height: 1px;
    background-color: #cbcbcb;
    width: 73px;
    margin-top: 17px;
    margin-left: -3px;
    transform: translateX(-50%);
    left: 47%;
    @include sp {
        width: 36px;
        margin-top: 7px;
        margin-left: -4px;
        left: 53%;
    }
}

.c-finace__texttitle::after {
    display: block;
    content: "";
    position: absolute;
    height: 1px;
    background-color: #cbcbcb;
    width: 57px;
    margin-top: 27px;
    left: 48.5%;
    transform: translateY(-48.5%);
    @include sp {
        margin-top: 14px;
        width: 27px;
        margin-left: -8px;
    }
}

