/*------------------------------------------------------------
line
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-line {
    height: 1px;
    width: 50px;
    background: #000;
    display: block;
    margin: 30px 0;
}
