/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
//MARGIN 
.c-bannerinner {
    .u-textbanner {
        transform: translateX(-13px);
        display: inline-block;
    }
}

.c-house {
    .c-house__titleone {
        // margin-left: 86px;
    }

    .c-house__desone {
        // margin-left: 87px;
    }
}

.c-textcenter {
    text-align: center;
    display: block;
    margin: 0 auto  30px;
}

.c-case__titletwo {
    display: inline-block;
    letter-spacing: -1.9px;
    transform: translateX(3px);
}

.c-table__left {
    .u-textone {
        display: inline-block;
        transform: translate(-7px, 3px);
        letter-spacing: -3px;
    }
}

.c-prevent__header {
    .u-texttwo {
        display: inline-block;
        transform: translateX(5px);
        letter-spacing: 3.3px;

    }

    .u-des {
        display: inline-block;
        margin-left: -6px;
    }
}

.c-prevent__item {
    .u-inf1 {
        margin-left: -10px;
        letter-spacing: -1px;
    }

    .u-inf2 {
        margin-top: 27px;
    }

    .u-inf3 {
        transform: translate(5px, -9px);
    }

    .u-inf4 {
        margin-left: -4px;
        margin-top: 30px;
        transform: translateX(13px);
        letter-spacing: -1.5px;
    }

    .u-inf5 {
        transform: translate(21px, -6px);
        margin-left: -5px;
        text-align: center;
        letter-spacing: -1px;
    }

    .u-inf6 {
        transform: translate(-6px, 3px);
    }

    .u-inf7 {
        transform: translate(-1px, 1px);
        letter-spacing: -1px;
    }

    .u-inf8 {
        transform: translate(1px, -8px);
        letter-spacing: -2px;
    }

    .u-inf9 {
        margin-left: 21px;
        margin-top: -5px;
        letter-spacing: -1px;
    }

    .u-inf10 {
        letter-spacing: -1px;
        margin-left: 28px;
        margin-top: -14px;
    }
}
