/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
//MARGIN 
.c-house {
    .c-house__titleone {
        margin-left: 86px;
    }

    .c-house__desone {
        margin-left: 87px;
    }
}

.c-textcenter {
    text-align: center;
    display: block;
    margin: 0 auto  30px;
}
