/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
//MARGIN 
.c-bannerinner {
    .u-textbanner {
        transform: translateX(-13px);
        display: inline-block;

        @include sp {
            letter-spacing: -0.3px;
            transform: translateX(-6px);
        }
    }
}

.c-house {
    .c-house__titleone {
    }

    .c-house__desone {
    }
}

.c-textcenter {
    text-align: center;
    display: block;
    margin: 0 auto 30px;
}

.c-case__titletwo {
    display: inline-block;
    letter-spacing: -1.9px;
    transform: translateX(3px);
    @include sp {
        transform: translateX(-2px);
    }
}

.c-case {
    .u-textone {
        @include sp {
            margin-left: -11px;
        }
    }
}

.c-plan {
    .u-texone {
        margin-left: -5px;
        letter-spacing: 0;
    }
}

.c-table__left {
    .u-textone {
        display: inline-block;
        transform: translate(-7px, 3px);
        letter-spacing: -3px;
    }
}

.c-prevent__header {
    .u-texttwo {
        display: inline-block;
        transform: translateX(3px);
        letter-spacing: 2px;
        margin-left: 1px;

    }

    .u-des {
        display: inline-block;
        margin-left: -6px;
    }
}

.c-prevent__item {
    .u-inf1 {
        margin-left: -10px;
        letter-spacing: -1px;

        @include sp {
            transform: translate(14px, 11.5px);
            line-height: 1.7;
            letter-spacing: -0.7px;
        }
    }

    .u-inf2 {
        margin-top: 27px;

        @include sp {
            transform: translate(3px, -11px);
            line-height: 1.6;
            letter-spacing: -0.8px;
        }
    }

    .u-inf3 {
        transform: translate(-6px, -9px);

        @include sp {
            transform: translate(11px, -12px);
            letter-spacing: -0.4px;
        }
    }

    .u-inf4 {
        margin-left: -4px;
        margin-top: 30px;
        transform: translateX(-2px);
        letter-spacing: -1.5px;
        @include sp {
            transform: translateX(6px);
            margin-top: 18px;
            letter-spacing: -1px;
            margin-bottom: 19px !important;
        }
    }

    .u-inf5 {
        text-align: center;
        transform: translate(13px, -9px);
        margin-left: -2px;
        letter-spacing: -0.5px;
        line-height: 1.6;
        @include sp {
            margin-left: 12px;
            letter-spacing: -0.6px;
            transform: translate(15px, -12px);
        }
    }

    .u-inf6 {
        transform: translate(-6px, 3px);

        @include sp {
            transform: translate(7px, 4px);
            letter-spacing: -0.8px;
            margin-bottom: 36px !important;
        }
    }

    .u-inf7 {
        transform: translate(-7px, 1px);
        letter-spacing: -1px;

        @include sp {
            transform: translate(4px, 1px);
            letter-spacing: -0.8px;
            line-height: 1.6;
        }
    }

    .u-inf8 {
        transform: translate(-9px, -8px);
        letter-spacing: -2px;
        @include sp {
            transform: translate(9px, -15px);
            letter-spacing: -1px;
            margin-bottom: 19px !important;
            line-height: 1.6;
        }
    }

    .u-inf9 {  
        margin-left: -9px;
        margin-top: -9px;
        letter-spacing: 0;
        line-height: 1.5;

        @include sp {
            margin-left: 7px;
            margin-top: -14px;
            letter-spacing: -1px;
            line-height: 1.5;
        }
    }

    .u-inf10 {
        letter-spacing: -1.3px;
        margin-left: 15px;
        margin-top: -17px;
        @include sp {
            letter-spacing: -0.8px;
            margin-left: -11px;
            margin-top: -19px;

        }
    }
}
