//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// breakpoint
//============================================

@mixin tb1 {
    @media only screen and (max-width: 1385px) {
        @content;
    }
}

@mixin tb {
    @media only screen and (max-width: 1023px) {
        @content;
    }
}
@mixin sp {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

