//baseWidth
$base-width: 1920px;

// Font
$main-fonts: " Noto Sans JP", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

$sub-font1: "Noto Serif JP", sans-serif;
$sub-font2: "Oswald", sans-serif;
$sub-font3: "Roboto", sans-serif;


// Background Color
$background-colormain: #ededed;
