/* layout
------------------------------------------------------------*/
html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    max-width: $base-width;
    min-width: 375px;
    line-height: 1.5;
    color: #231815;

}

//-------------------------------------------------------

.c-case {
    max-width: 1608px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 40px 0;
    @include sp {
        max-width: 375px;
        padding: 51px 0 0;
    }
}

.l-containerhouse {
    margin: 0 auto 60px;
    max-width: 1305px;
    padding: 0 40px;
    width: 100%;
}

.c-wrapperhouse {
    margin: 0 auto 60px;
    max-width: 1305px;
    padding: 0 40px;
    width: 100%;
}

.c-wrapperpoint {
    max-width: 1740px;
    width: 100%;
    margin: 0 auto;
    @include sp {
        max-width: 375px;
    }
}

.c-wrapperdesign {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    padding-right: 3.75%;
    margin: 79px 0 0 19%;
    z-index: 1;
    @include tb {
        margin-left: 0%;
        margin-bottom: 49px;
    }
    @include sp{
        padding: 12px 8.5%;
        margin: 37px 0 0 0;
    }
}

.c-wrapperdesign::before {
    content: "";
    position: absolute;
    top: -37%;
    right: 0;
    width: 77.3%;
    height: 104%;
    background-color: #ededed;
    z-index: -1;
    @include sp{
        top: -18%;
    width: 52%;
    height: 58.4%;
    }
}

.c-wrappeaccess {
    max-width: 611px;
    width: 100%;
    margin: 13.9% auto 0;
    padding: 0 0 0 7px;
}
