/* layout
------------------------------------------------------------*/
html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: $main-fonts;
    // max-width: 1920px;
    font-size: 1.4rem;
    margin: 0 auto;
    min-width: 375px;
    line-height: 1.5;
    color: #231815;

}

//-------------------------------------------------------

.c-case {
    max-width: 1664px;

    width: 100%;
    margin: 0 auto;
    // padding: 80px 40px 0;

    @include sp {
        max-width: 360px;
        // padding: 51px 0 0;
    }
}

.l-container {
    margin-top: 75px;
    @include tb {
        margin-top: 48px;
    }
}

.l-containerhouse {
    margin: 0 auto 60px;
    max-width: 1305px;
    padding: 0 40px;
    width: 100%;
}

.c-wrapperhouse {
    margin: 0 auto 60px;
    max-width: 1305px;
    padding: 0 40px;
    width: 100%;
}

.c-wrapperpoint {
    max-width: 1740px;
    width: 100%;
    margin: 0 auto;
    background-color: $background-colormain;

    @include sp {
        max-width: 565px;
        padding: 20px;
    }
}

.c-wrapperdesign {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    z-index: 1;
    padding: 3% 1.75% 0;
    justify-content: flex-end;
    margin: 0 auto;
    width: 100%;
    max-width: 1790px;

    @include tb {
        margin-left: 0%;
        margin-bottom: 49px;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include sp {
        margin: 42px 0 0;
        padding: 7px 11px 0;
    }
}

.c-wrapperdesign::before {



    @include sp {
        top: -18%;
        width: 52%;
        height: 60.3%;
    }
}

.c-wrappeaccess {
    max-width: 634px;
    width: 100%;
    margin: 13.9% auto 0;
    padding: 0 20px;

    @include sp {
        margin-top: 31px;
        padding: 0 48px;
    }
}
