<%- include('_layouts/layout', { title: 'Home page' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->

  <!-- @content -->
  <main>

    <header class="c-header">
      <div class="c-header__banner">
        <div class="c-bannerinner">
          <a href="#">
            <img class="c-bannerinner__logo" src="./_public/assets/img/Logo.png" alt="COCO">
          </a>
          <span class="c-bannerinner__text">「こんな家に住みたい」をカタチにした家</span>
          <a href="">
            <img class="c-bannerinner__now" src="./_public/assets/img/Now.png" alt="COCO">

          </a>
        </div>
      </div>
    </header>
    <div class="p-top">
      <!-- CASE -->
      <section class="c-case">
        <div class="l-container ">
          <h1 class="c-case__title">家づくりの、こんな不安やお悩みないですか？</h1>
          <div class="c-listcase">
            <!-- CASE1 -->
            <div class="c-itemcase">
              <span class="c-case__number">
                01
              </span>
              <p class="c-case__text">case</p>
              <div class="c-case__des">
                <p class="c-des">子育てにはどんな家が良いんだろう？</p>
              </div>
            </div>
            <!-- CASE2 -->
            <div class="c-itemcase">
              <span class="c-case__number">
                02
              </span>
              <p class="c-case__text">case</p>
              <div class="c-case__des">
                <p class="c-note">いろいろとこだわった</p>
                <p class="c-des">理想の家って実現できるの？</p>
              </div>
            </div>
            <!-- CASE3 -->

            <div class="c-itemcase">
              <span class="c-case__number">
                03
              </span>
              <p class="c-case__text">case</p>
              <div class="c-case__des">
                <p class="c-note">家は建てたいけど</p>
                <p class=" c-des">暮らしのスタイルがイメージできない</p>
              </div>
            </div>
          </div>
          <h2 class="c-case__titlebottom">はじめての家づくりが具体的に進む、ご来店の <span class="u-text">3つのメリット</span> </h2>
        </div>
      </section>

      <!-- MODELHOUSE -->
      <section class="c-house c-case ">
        <div class="l-containerhouse">
          <h2 class="c-house__title">WELCOME TO MODELHOUSE</h2>
          <div class="c-house__list">
          
            <div class="c-house__item">

              <div class="c-houseitem__left">
                <img class="c-house__number" src="../../assets/img/number1-house.png" alt="実物を見て触って体感できます!">
                <div class="c-houseitem__title ">
                  <h3 class="c-houseitem__titletext c-house__titleone ">実物を見て触って<span class="u-text">体感</span>できます!</h3>
                  <img class="c-iconhouse" src="../../assets/icon/icon-house.svg" alt="実物を見て触って体感できます!">
                </div>


                <div class="c-houseitem__des c-house__desone">カタログや資料だけではなく、高気密・高断熱の木
                  の住まいや、家事動線や収納スペースの女性目線で
                  叶った工夫など、実際に見て触ってご体感いただけ
                  ます。 </div>
              </div>
              <div class="c-houseitem__right">
                <img class="c-house__imgright" src="../../assets/img/house1.png" alt="実物を見て触って体感できます!">
              </div>

            </div>

            <div class="c-house__item">
              <div class="c-houseitem__left">
                <img class="c-house__imgright" src="../../assets/img/house2.png" alt="実物を見て触って体感できます!">
              </div>
              <div class="c-houseitem__right">
                <img class="c-house__number" src="../../assets/img/number2-house.png" alt="実物を見て触って体感できます!">
                <div class="c-houseitem__title ">
                  <h3 class="c-houseitem__titletext c-house__titleone ">土地情報<span class="u-text">1000件以上</span>が見放題!
                  </h3>
                  <img class="c-iconhouse" src="../../assets/icon/icon-house.svg" alt="実物を見て触って体感できます!">
                </div>
                <div class="c-houseitem__des c-house__desone">愛媛県の最新の土地情報から、学区・最寄りの駅な
                  どご希望の条件でお好きな土地をご覧いただけます。
                  さらに、地盤予測や付帯工事費なども含め、建てた
                  後も安心して暮らせる総合的な土地のアドバイスを
                  いたします。 </div>
              </div>

            </div>

            <div class="c-house__item">
              <div class="c-houseitem__left">
                <img class="c-house__number" src="../../assets/img/number3-house.png" alt="実物を見て触って体感できます!">
                <div class="c-houseitem__title">
                  <h3 class="c-houseitem__titletext c-house__titleone ">お客様に合った住宅ローンを診断!</h3>
                  <img class="c-iconhouse" src="../../assets/icon/icon-house.svg" alt="実物を見て触って体感できます!">
                </div>

                <div class="c-houseitem__des c-house__desone">住宅ローンアドバイザーの資格を持ったスタッフが、
                  住宅ローン提携5大金融機関からお客様に合った適
                  正住宅ローンを診断いたします。 </div>
              </div>
              <div class="c-houseitem__right">
                <img class="c-house__imgright" src="../../assets/img/house3.png" alt="実物を見て触って体感できます!">
              </div>

            </div>
          </div>
        </div>

      </section>

      <!-- POINT -->
      <section class="c-wrapperpoint">
        <div class="c-point">
          <div class="c-point__header">
            <img class="c-header__img " src="assets/img/point-img.png" alt="RECOMMENDED POINT">
            <div>
              <h2 class="c-header__title">RECOMMENDED POINT</h2>
              <p class="c-headertext">イベント・見学会の <span class="u-text">見どころ</span> ！</p>
            </div>
          </div>
          <div class="c-point__list">
            <% if (typeof houselist != 'undefined') { %>
              <% houselist.main && houselist.main.forEach(house => { %>
            <div class="c-point__item">
              <img class="c-pointitem__img" src="<%= house.img %>" alt="<%= house.title %>">
              <h3 class="c-pointitem__title"><%= house.title %></h3>
              <p class="c-pointitem__des"><%= house.des %></p>
            </div>
            <% }) %>
            <% } %>
            <!-- <div class="c-point__item">
              <img class="c-pointitem__img" src="assets/img/point2.png" alt="シンプルな四角い外観">
              <h3 class="c-pointitem__title">シンプルな四角い外観</h3>
              <p class="c-pointitem__des">住む方の生活に馴染むよう、シンプルでムダを削ぎ落とした四角い家。凹凸のないレイアウトで、室内も広々した空間を実現。</p>
            </div>
            <div class="c-point__item">
              <img class="c-pointitem__img" src="assets/img/point3.png" alt="ガルバリウム鋼板の外壁・屋根">
              <h3 class="c-pointitem__title">ガルバリウム鋼板の外壁・屋根</h3>
              <p class="c-pointitem__des">外壁・屋根に使われているガルバリウム鋼板は、無骨で美しいZERO-CUBEの外観の特徴。
                耐久・耐熱性など機能面に優れた、高品質の素材です。</p>
            </div>
            <div class="c-point__item">
              <img class="c-pointitem__img" src="assets/img/point4.png" alt="家族を感じるリビング">
              <h3 class="c-pointitem__title">家族を感じるリビング</h3>
              <p class="c-pointitem__des">1階が見渡せる対面キッチンでは、家族との会話も弾みます。吹き抜けのリビングイン階段は、居間を導線の中心に考えた、家族のコミュニケーションが生まれる設計。
              </p>
            </div> -->
          </div>
        </div>

        <a class="c-footerpoint">
          <img class="c-footerpoint__img" src="assets/img/point-footer.png" alt="RECOMMENDED POINT">
        </a>
      </section>

      <!-- DESIGN -->
      <section class="c-design">
        <div class="c-design__item">

          <img src="assets/img/design1.png" alt="Design">
          <div class="c-buttondesign">
            <img class="c-buttonleft" src="assets/icon/button-left.svg" alt="Design">
            <img class="c-buttonright" src="assets/icon/button-right.svg" alt="Design">

          </div>
        </div>

        <div class="c-design__background"></div>
        <div class="c-wrapperdesign">
          <div class="c-design__left">
            <h2 class="c-titlesection">Design</h2>
            <span class="c-line"></span>
            <h3 class="c-design__title">シンプルで美しいデザイン、<br>
              いつまでも・誰にでも愛される空間に。
            </h3>
            <p class="c-design__text">長く愛される「居心地の良い場所」はシンプルなルールで作られるもの。<br>
              壁の色を白で統一したシンプルな間取り。<br>
              余計な装飾は施さず、こだわりの家具やインテリアを<br>
              あなた色に合わせてコーディネートを楽しめる<br>
              年齢や性別を意識しない誰にでも愛される空間です。</p>
          </div>
          <div class="c-design__right">
            <iframe width="702" height="391" src="https://www.youtube.com/embed/GtH-3_jjTvQ"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </section>

      <!-- PLAN -->
      <section class="c-plan">
        <h3 class="c-titlesection c-textcenter">Plan</h3>
        <span class="c-line c-textcenter"></span>
        <div class="c-plan__imglist">
          <div>
            <img src="assets/img/1F.jpg" alt="Plan">
            <img class="c-plan__icon" src="assets/icon/icon-1f.svg" alt="Plan">

          </div>
          <div>
            <img src="assets/img/2F.jpg" alt="Plan">
            <img class="c-plan__icon" src="assets/icon/icon-2f.svg" alt="Plan">
          </div>

        </div>
        <div class="c-plan__listtext">
          <span class="c-plan__text">1階床面積 &ensp;192.53㎡(58.24坪）</span>
          <span class="c-plan__text">2階床面積 &ensp;139.01㎡(42.05坪）</span>
          <span class="c-plan__text">延床面積 &ensp;331.54㎡(100.29坪） </span>
        </div>

        <div class="c-plan__table">
          <ul >
            <li>
              <div class="c-tabletext c-table__left">商品プラン</div>
              <div class="c-tabletext c-table__right">ZERO-CUBE</div>
            </li>
            <li>
              <div class="c-tabletext c-table__left">構造</div>
              <div class="c-tabletext c-table__right">木造2階建て</div>
            </li>
            <li>
              <div class="c-tabletext c-table__left">設備・仕様</div>
              <div class="c-table__right">
                <a href="#">W断熱/TOPS工法</a>
                <a href="#">無垢材・自然素材</a>
                <a href="#">高性能住宅</a>
                <a href="#">玄関共有タイプ</a>
                <a href="#">防音構造床</a>
              </div>
             
            </li>
            <li>
              <p class="c-tabletext c-table__left">空間</p>
              <div  class="c-table__right">
                <a href="#">二世帯・多世帯</a>
                <a href="#">1、2階リビング</a>
                <a href="#">吹抜け</a>
              </div>
             
            </li>
          </ul>
        </div>

      </section>

      <!-- FINANCE -->
<section class="c-finace">
  <h3 class="c-titlesection c-textcenter">Finace</h3>
  <span class="c-line c-textcenter"></span>
  <p class="c-finace__header">3,400万円借入の場合</p>

</section>
    </div>


  </main>
  <!-- @@content -->

