<%- include('_layouts/layout', { title: 'Home page' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->

  <!-- @content -->
  <main>

    <header class="c-header">
      <div class="c-header__banner">
        <div class="c-bannerinner">
          <a href="#">
            <img class="c-bannerinner__logo" src="./_public/assets/img/Logo.png" alt="COCO">
          </a>
          <p class="c-bannerinner__text">「こんな家に住みたい」 <span class="u-textbanner">をカタチにした家</span></p>
          <a href="">
            <img class="c-bannerinner__now" src="./_public/assets/img/Now.png" alt="COCO">

          </a>
        </div>
      </div>
    </header>
    <div class="p-top">
      <!-- CASE -->

      <section class="c-case">
        <div class="l-container ">
          <h1 class="c-case__title">家づくりの、こんな不安やお悩みないですか？</h1>
          <div class="c-listcase">
            <!-- CASE1 -->
            <div class="c-itemcase">
              <span class="c-case__number">
                01
              </span>
              <p class="c-case__text">case</p>
              <div class="c-case__des">
                <p class="c-des">子育てにはどんな家が良 <span class="c-case__titletwo">いんだろう？</span> </p>
              </div>
            </div>
            <!-- CASE2 -->
            <div class="c-itemcase pc-only ">
              <span class="c-case__number">
                02
              </span>
              <p class="c-case__text">case</p>
              <div class="c-case__des">
                <p class="c-note">いろいろとこだわった</p>
                <p class="c-des">理想の家って実現できるの？</p>
              </div>
            </div>
            <div class="c-itemcase sp-only ">
              <span class="c-case__numbersp">
                02
              </span>
              <p class="c-case__textsp">case</p>
              <div class="c-case__dessp">
                <p class="c-notesp">いろいろとこだわった</p>
                <p class="c-des">理想の家って実現できるの？</p>
              </div>
            </div>
            <!-- CASE3 -->

            <div class="c-itemcase">
              <span class="c-case__number">
                03
              </span>
              <p class="c-case__text">case</p>
              <div class="c-case__des">
                <p class="c-note">家は建てたいけど</p>
                <p class=" c-des">暮らしのスタイルがイメージできない</p>
              </div>
            </div>
          </div>
          <h2 class="c-case__titlebottom pc-only">はじめての家づくりが具体的に進む、ご来店の <span class="u-text">3&nbsp;つのメリット</span> </h2>
          <h2 class="c-case__titlebottom sp-only">はじめての家づくりが具体的に進む、<br> ご来店の <span class="u-text">3&nbsp;つのメリット</span>
          </h2>
        </div>
      </section>

      <!-- MODELHOUSE -->
      <section class="c-house  ">
        <h2 class="c-house__title">WELCOME TO MODELHOUSE</h2>
        <div class="c-house__list">
          <div class="c-house__item c-wrapperhouse">
            <div class="c-houseitem__left">
              <div>
                <img class="c-house__number c-house__numberone" src="../../assets/img/number1-house.png"
                  alt="実物を見て触って体感できます!">
                <div class="c-houseitem__title c-houseitem__titleone">
                  <h3 class="c-houseitem__titletext c-house__titleone ">実物を見て触って<span class="u-text">体感</span>できます!</h3>
                  <img class="c-iconhouse" src="../../assets/icon/icon-house.svg" alt="実物を見て触って体感できます!">
                  <div class="c-houseitem__des c-house__desone">カタログや資料だけではなく、高気密・高断熱の木
                    の住まいや、家事動線や収納スペースの女性目線で
                    叶った工夫など、実際に見て触ってご体感いただけ
                    ます。 </div>
                </div>
              </div>
            </div>
            <div class="c-houseitem__right">
              <img class="c-house__img c-house__imgright" src="../../assets/img/house1.png" alt="実物を見て触って体感できます!">
            </div>
          </div>

          <div class="c-house__item c-house__itemtwo c-wrapperhouse">
            <div class="c-houseitem__left">
              <img class="c-house__img c-house__imgtwo" src="../../assets/img/house2.png" alt="実物を見て触って体感できます!">
            </div>
            <div class="c-houseitem__right">
              <img class="c-house__number c-house__numbertwo" src="../../assets/img/number2-house.png"
                alt="実物を見て触って体感できます!">
              <div class="c-houseitem__titletwo ">
                <h3 class="c-houseitem__titletext c-house__titleone ">土地情報<span class="u-text">1000件以上</span>が見放題!
                </h3>
                <img class="c-iconhousetwo" src="../../assets/icon/icon-house.svg" alt="実物を見て触って体感できます!">
              </div>
              <div class="c-houseitem__des c-houseitem__destwo">愛媛県の最新の土地情報から、学区・最寄りの駅な
                どご希望の条件でお好きな土地をご覧いただけます。
                さらに、地盤予測や付帯工事費なども含め、建てた
                後も安心して暮らせる総合的な土地のアドバイスを
                いたします。 </div>
            </div>
          </div>

          <div class="c-house__item c-wrapperhouse">
            <div class="c-houseitem__left">
              <img class=" c-house__number c-house__numberthree" src="../../assets/img/number3-house.png"
                alt="実物を見て触って体感できます!">
              <div class="c-houseitem__title">
                <h3 class="c-houseitem__titletext c-houseitem__titletextthree">お客様に合った <span
                    class="u-textthree">住宅ローン</span> を診断!</h3>
                <img class="c-iconhousethree" src="../../assets/icon/icon-house.svg" alt="実物を見て触って体感できます!">
              </div>
              <div class="c-houseitem__des c-houseitem__desthree">住宅ローンアドバイザーの資格を持ったスタッフが、
                住宅ローン提携5大金融機関からお客様に合った適<br>
                正住宅ローンを診断いたします。 </div>
            </div>
            <div class="c-houseitem__right">
              <img class=" c-house__img c-house__imgthree" src="../../assets/img/house3.png" alt="実物を見て触って体感できます!">
            </div>
          </div>
        </div>
      </section>

      <!-- POINT -->
      <section class="c-wrapperpoint">
        <div class="c-point">
          <div class="c-point__header">
            <img class="c-header__img " src="assets/img/point-img.png" alt="RECOMMENDED POINT">
            <div class="c-point__right">
              <h2 class="c-header__title">RECOMMENDED POINT</h2>
              <h3 class="c-headertext">イベント・見学会の <span class="u-text">見どころ</span> ！</h3>
            </div>
          </div>
          <div class="c-point__list">
            <% if (typeof houselist !='undefined' ) { %>
              <% houselist.main && houselist.main.forEach(house=> { %>
                <div class="c-point__item">
                  <img class="c-pointitem__img" src="<%= house.img %>" alt="<%= house.title %>">
                  <h3 class="c-pointitem__title">
                    <%= house.title %>
                  </h3>
                  <p class="c-pointitem__des">
                    <%= house.des %>
                  </p>
                </div>
                <% }) %>
                  <% } %>
                    <!-- <div class="c-point__item">
              <img class="c-pointitem__img" src="assets/img/point2.png" alt="シンプルな四角い外観">
              <h3 class="c-pointitem__title">シンプルな四角い外観</h3>
              <p class="c-pointitem__des">住む方の生活に馴染むよう、シンプルでムダを削ぎ落とした四角い家。凹凸のないレイアウトで、室内も広々した空間を実現。</p>
            </div>
            <div class="c-point__item">
              <img class="c-pointitem__img" src="assets/img/point3.png" alt="ガルバリウム鋼板の外壁・屋根">
              <h3 class="c-pointitem__title">ガルバリウム鋼板の外壁・屋根</h3>
              <p class="c-pointitem__des">外壁・屋根に使われているガルバリウム鋼板は、無骨で美しいZERO-CUBEの外観の特徴。
                耐久・耐熱性など機能面に優れた、高品質の素材です。</p>
            </div>
            <div class="c-point__item">
              <img class="c-pointitem__img" src="assets/img/point4.png" alt="家族を感じるリビング">
              <h3 class="c-pointitem__title">家族を感じるリビング</h3>
              <p class="c-pointitem__des">1階が見渡せる対面キッチンでは、家族との会話も弾みます。吹き抜けのリビングイン階段は、居間を導線の中心に考えた、家族のコミュニケーションが生まれる設計。
              </p>
            </div> -->
          </div>
          <img class="c-header__imgsp" src="assets/img/point-img.png" alt="RECOMMENDED POINT">
        </div>

        <a class="c-footerpoint">
          <picture>
            <source media="(max-width: 767px)"  class="c-footerpoint__img" srcset="assets/img/point-banner-sp.png" alt="RECOMMENDED POINT">
            <img class="c-footerpoint__img" src="assets/img/point-footer.png" alt="RECOMMENDED POINT">
          </picture>
        </a>
      </section>

      <!-- DESIGN -->
      <section class="c-design">
        <div class="c-design__item">
          <div class="c-design__imglist">
            <img src="assets/img/design1.png" alt="Design">
            <img src="assets/img/design1.png" alt="Design">
            <img src="assets/img/design1.png" alt="Design">
            <img src="assets/img/design1.png" alt="Design">
            <img src="assets/img/design1.png" alt="Design">
            <img src="assets/img/design1.png" alt="Design">
          </div>

        </div>

        <!-- <div class="c-design__background"></div> -->
        <div class="c-wrapperdesign">
          <div class="c-design__left">
            <h2 class="c-titlesection c-design__header">Design</h2>
            <span class="c-line c-line__design"></span>
            <h3 class="c-design__title">シンプルで美しいデザイン、<br>
              いつまでも・誰にでも愛される空間に。
            </h3>
            <p class="c-design__text">長く愛される「居心地の良い場所」はシンプルなルールで作られるもの。<br>
              壁の色を白で統一したシンプルな間取り。<br>
              余計な装飾は施さず、こだわりの家具やインテリアを<br>
              あなた色に合わせてコーディネートを楽しめる<br>
              年齢や性別を意識しない誰にでも愛される空間です。</p>
          </div>
          <div class="c-design__right">
            <iframe src="https://www.youtube.com/embed/GtH-3_jjTvQ"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </section>

      <!-- PLAN -->
      <section class="c-plan">
        <h3 class="c-titlesection c-plan__texttitle">Plan</h3>
        <span class="c-line c-line__plan"></span>
        <div class="c-plan__imglist">
          <div class="c-plan__item c-itemone">
            <img src="assets/img/1F.jpg" alt="Plan">
            <img class="c-plan__icon" src="assets/icon/icon-1f.svg" alt="Plan">
          </div>
          <div class="c-plan__item c-itemtwo">
            <img src="assets/img/2F.jpg" alt="Plan">
            <img class="c-plan__icon" src="assets/icon/icon-2f.svg" alt="Plan">
          </div>

        </div>
        <div class="c-plan__listtext">
          <span class="c-plan__text">1階床面積 &ensp;&ensp;192.53㎡(58.24坪）</span>
          <span class="c-plan__text">2階床面積 &ensp;139.01㎡(42.05坪）</span>
          <span class="c-plan__text">延床面積 &ensp;331.54㎡(100.29坪） </span>
        </div>

        <div class="c-plan__table">
          <ul>
            <li>
              <div class="c-tabletext c-table__left">商品プラン</div>
              <div class="c-tabletext c-table__right c-tabletext__one">ZERO-CUBE</div>
            </li>
            <li>
              <div class="c-tabletext c-table__left">構造</div>
              <div class="c-tabletext c-table__right">木造2階建て</div>
            </li>
            <li>
              <div class="c-tabletext c-table__left c-table__textthree">設備<span class u-textone>・仕様</span></div>
              <div class="c-table__right c-table__actionone">
                <a href="#">W断熱/TOPS工法</a>
                <a href="#">無垢材・自然素材</a>
                <a href="#">高性能住宅</a>
                <a href="#">玄関共有タイプ</a>
                <a href="#">防音構造床</a>
              </div>

            </li>
            <li>
              <p class="c-tabletext c-table__left">空間</p>
              <div class="c-table__right c-table__actiotwo">
                <a href="#">二世帯・多世帯</a>
                <a href="#">1、2 階リビング</a>
                <a href="#">吹抜け</a>
              </div>

            </li>
          </ul>
        </div>
      </section>

      <!-- FINANCE -->
      <section class="c-finace">
        <h3 class="c-titlesection c-finace__texttitle ">Finance</h3>
        <p class="c-finace__header">3,400&nbsp;万円借入の場合</p>
        <div class="c-finace__content">
          <div class="c-finace__item c-finace__itemone ">
            <div class="c-item__content">
              <p>借入金　・・・・・・・・・・3,400万円</p>
              <p>ボーナス払い・・・・・・・・・・0万円</p>
              <p>3年固定金利・・・・・・・・・・0.725％</p>
              <p>返済期間・・・・・・・・・・・・・35年</p>
            </div>

          </div>
          <div class="c-finace__item c-finace__itemtwo">
            <div class="c-item__contenttwo">
              <img class="c-itemtwo__img" src="assets/icon/icon-finance.svg" alt="月々のお支払い">
              <p class="c-itemtwo__textone">月々のお支払い</p>
              <h3>91,682<span>円</span> </h3>
              <p class="c-itemtwo__text">土地付建物販売価格　3,400&nbsp;万円&emsp;(税込)</p>
            </div>

          </div>
        </div>
      </section>

      <!-- BOOKING -->
      <section class="c-booking">
        <h2 class="c-booking__header">WEB来場予約が <span> オススメ!</span></h2>
        <div class="c-booking__destitle">
          <p>
            待ち時間ナシ&nbsp;!<span class="c-textone">混雑をきにせず来場OK!</span>
          </p>
          <p>経験豊富なスタッフがしっかりとご対応いたします。</p>
        </div>

        <div class="c-booking__list">
          <a href="#" class="c-booking__process">
            <div class="c-booking__item">
              <img class="c-booking__icon c-booking__email" src="assets/icon/icon-email.svg" alt="WEB予約">
              <p class="c-booking__title">WEB予約</p>
              <p class="c-booking__des">入力フォームに必要事項を入力</p>
            </div>
            <div class="c-booking__item">
              <img class="c-booking__icon c-booking__user" src="assets/icon/icon-user.svg" alt="WEB予約">
              <p class="c-booking__title">ご来場</p>
              <p class="c-booking__des">来場されたら受付をお願いします</p>
            </div>
            <div class="c-booking__item">
              <img class="c-booking__icon c-booking__question" src="assets/icon/icon-question.svg" alt="WEB予約">
              <p class="c-booking__title">アンケート記入</p>
              <p class="c-booking__des">アンケート記入後、丁寧にご説明</p>
            </div>
            <div class="c-booking__item">
              <img class="c-booking__icon c-booking__explain" src="assets/icon/icon-explain.svg" alt="WEB予約">
              <p class="c-booking__title">ご見学・ご説明</p>
              <p class="c-booking__des">何でもお気軽に相談してください</p>
            </div>
            <div class="c-booking__item">
              <img class="c-booking__icon c-booking__gift" src="assets/icon/icon-gift.svg" alt="WEB予約">
              <p class="c-booking__title">特典プレゼント！</p>
              <p class="c-booking__des">QUOカードプレゼント</p>
            </div>
          </a>
        </div>

        <!-- PREVENT -->
        <div class="c-prevent">
          <div class="c-prevent__header">
            <div class="c-prevent__headerone">
              <p class="c-prevent__textone">ご来場のお客様へ</p>
              <p class="c-prevent__texttwo">新型コロナウイルス<span class="u-texttwo">感染症予防対策</span>につきまして</p>
            </div>
            <p class="c-prevent__des">ウェブココでは新型コロナウイルス感染拡大防止のため、<span class="u-des">対策を講</span>じておりますので安心してご利用ください。</p>
          </div>
          <div class="c-prevent__list u-pcprevent ">
            <div class="c-prevent__item">
              <img class="c-prevent__img1" src="assets/icon/icon-prevent1.svg" alt="常時店内・モデルハウス換気中">
              <p class="c-prevent__inf u-inf1">常時店内・モデルハウス <br>
                換気中</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img2" src="assets/icon/icon-prevent2.svg" alt="スタッフの
              マスク着用義務化">
              <p class="c-prevent__inf u-inf2">スタッフの<br>
                マスク着用義務化</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img3" src="assets/icon/icon-prevent3.svg" alt="お客様へのマスク着用
              をお願いしています">
              <p class="c-prevent__inf u-inf3">お客様へのマスク着用<br>
                をお願いしています</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img4" src="assets/icon/icon-prevent4.svg" alt="ソーシャルディスタンス
              （2m）を維持した打合せ">
              <p class="c-prevent__inf u-inf4">ソーシャルディスタンス<br>
                (2m)を維持した打合せ</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img5" src="assets/icon/icon-prevent5.svg" alt="発熱のあるスタッフ・
              お客様の出社・入店禁止">
              <p class="c-prevent__inf u-inf5">発熱のあるスタッフ・<br>
                お客様の出社・入店禁止</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img6" src="assets/icon/icon-prevent6.svg" alt="こまめな除菌">
              <p class="c-prevent__inf u-inf6">こまめな除菌</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img7" src="assets/icon/icon-prevent7.svg" alt="咳エチケットを
              徹底しています">
              <p class="c-prevent__inf u-inf7">咳エチケットを<br>
                徹底しています</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img8" src="assets/icon/icon-prevent8.svg" alt="スタッフ・お客様
              アルコール除菌">
              <p class="c-prevent__inf u-inf8">スタッフ・お客様<br>
                アルコール除菌</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img9" src="assets/icon/icon-prevent9.svg" alt="web設計打合せを
              推奨しています">
              <p class="c-prevent__inf u-inf9">web設計打合せを<br>
                推奨しています</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img10" src="assets/icon/icon-prevent10.svg" alt="webおうち相談会を
              推奨しています">
              <p class="c-prevent__inf u-inf10">webおうち相談会を<br>
                推奨しています</p>
            </div>
          </div>
          <div class="c-prevent__list u-spprevent">
            <div class="c-prevent__item">
              <img class="c-prevent__img1" src="assets/icon/icon-prevent1.svg" alt="常時店内・モデルハウス換気中">
              <p class="c-prevent__inf u-inf1">常時店内・モデルハウス <br>
                換気中</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img2" src="assets/icon/icon-prevent2.svg" alt="スタッフの
              マスク着用義務化">
              <p class="c-prevent__inf u-inf2">スタッフの<br>
                マスク着用義務化</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img6" src="assets/icon/icon-prevent6.svg" alt="こまめな除菌">
              <p class="c-prevent__inf u-inf6">こまめな除菌</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img7" src="assets/icon/icon-prevent7.svg" alt="咳エチケットを
              徹底しています">
              <p class="c-prevent__inf u-inf7">咳エチケットを<br>
                徹底しています</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img3" src="assets/icon/icon-prevent3.svg" alt="お客様へのマスク着用
              をお願いしています">
              <p class="c-prevent__inf u-inf3">お客様へのマスク着用<br>
                をお願いしています</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img4" src="assets/icon/icon-prevent4.svg" alt="ソーシャルディスタンス
              （2m）を維持した打合せ">
              <p class="c-prevent__inf u-inf4">ソーシャルディスタンス<br>
                (2m)を維持した打合せ</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img8" src="assets/icon/icon-prevent8.svg" alt="スタッフ・お客様
              アルコール除菌">
              <p class="c-prevent__inf u-inf8">スタッフ・お客様<br>
                アルコール除菌</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img9" src="assets/icon/icon-prevent9.svg" alt="web設計打合せを
              推奨しています">
              <p class="c-prevent__inf u-inf9">web設計打合せを<br>
                推奨しています</p>
            </div>
            <div class="c-prevent__item">
              <img class="c-prevent__img5" src="assets/icon/icon-prevent5.svg" alt="発熱のあるスタッフ・
              お客様の出社・入店禁止">
              <p class="c-prevent__inf u-inf5">発熱のあるスタッフ・<br>
                お客様の出社・入店禁止</p>
            </div>   
            <div class="c-prevent__item">
              <img class="c-prevent__img10" src="assets/icon/icon-prevent10.svg" alt="webおうち相談会を
              推奨しています">
              <p class="c-prevent__inf u-inf10">webおうち相談会を<br>
                推奨しています</p>
            </div>
          </div>



        </div>
      </section>

      <!-- ACCESS -->
      <section class="c-access">
        <div class="c-access__left">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18701.648449620472!2d132.98420341609534!3d34.043470690725385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35503ade317fa9b7%3A0x181e07ae6589279e!2z5LuK5rK75Lit5aSu6Ieq5YuV6LuK5pWZ57-S5omA!5e0!3m2!1sen!2s!4v1668668791337!5m2!1sen!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="c-access__right">
          <div class="c-wrappeaccess">
            <h3 class="c-titlesection c-textcenter c-access__title">Access</h3>
            <p class="c-access__des">完全ご予約制見学会</p>

            <ul class="c-access__content">
              <li class="c-access__text">
                <span class="c-access__contentleft">開催日</span>
                <p class="c-content__rightone">8<span>月20日</span>（土)・21日（日）
                </p>
              </li>
              <li class="c-access__text">
                <span class="c-access__contentleft">時間</span>
                <p class="c-content__righttwo">10：00～ <span>17：00 ※完全予約制</span>
                </p>
              </li>
              <li class="c-access__text">
                <span class="c-access__contentleft">開催場所</span>
                <p class="c-content__rightthree">〒000-0000 愛媛県今治市&nbsp;000-0
                </p>
              </li>
              <li class="c-access__desright">※車でお越しの際は、ナビで上記住所を設定してください。</li>
            </ul>
          </div>
        </div>
      </section>

      <!-- FOOTER -->
      <section class="c-footer">
        <a href="#">
          <img class="c-footer__banner" src="assets/img/footer-banner.png" alt="Banner Footer">
        </a>
        <a href="#" class="c-footer__contact">
          <h3 class="c-footer__contacttext">Contact Form</h3>
        </a>
        <a href="#">
          <img class="c-footer__logo" src="assets/img/Logo.png" alt="COCO Page">
        </a>
      </section>
    </div>

  </main>
  <!-- @@content -->